openapi: "3.1.0"
info:
  title: "Twinbay"
  description: "Backend API"
  version: "0.1.0"
servers:
  - url: "https://api.twinbay.ai"
    description: "Production"
paths:
  /users/me:
    get:
      tags:
        - "users"
      summary: "Read the authenticated user"
      description: "Returns the caller, the organization their token acts in, and every organization they belong to with their role in each. A caller who has not joined an organization yet gets a null active organization, which is how the client knows to show onboarding."
      operationId: "read_me"
      responses:
        "200":
          description: "The caller and their memberships"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MeResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The token names an organization with a role we do not model"
      security:
        - Organization API key: []
      x-speakeasy-name-override: "retrieve"
  /organizations:
    get:
      tags:
        - "organizations"
      summary: "List your organizations"
      description: "Every organization the caller is a member of, with their role in each, oldest membership first. Independent of the organization the current token acts in. Paginated: walk the pages with `page` and `size`."
      operationId: "list_organizations"
      security:
        - Organization API key: []
      parameters:
        - name: "page"
          in: "query"
          required: false
          schema:
            type: "integer"
            minimum: 1
            description: "Page number"
            default: 1
            title: "Page"
          description: "Page number"
        - name: "size"
          in: "query"
          required: false
          schema:
            type: "integer"
            maximum: 100
            minimum: 1
            description: "Page size"
            default: 50
            title: "Size"
          description: "Page size"
      responses:
        "200":
          description: "One page of the caller's memberships"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Page_MembershipResponse_"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
    post:
      tags:
        - "organizations"
      summary: "Create an organization"
      description: "Creates the organization in WorkOS with the caller as an admin, then mirrors it locally. The caller's current token is unchanged; refresh the AuthKit session into the new organization to act inside it."
      operationId: "create_organization"
      security:
        - Organization API key: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateOrganizationRequest"
      responses:
        "201":
          description: "The new organization and the caller's role in it"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MembershipResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /organizations/default:
    post:
      tags:
        - "organizations"
      summary: "Create your first organization"
      description: "Idempotent: answers with the caller's oldest organization when they already belong to one, and otherwise creates one named after them, with the caller as an admin. This is what signing up calls, so that onboarding never has to ask for a name. Refresh the AuthKit session into the organization to act inside it."
      operationId: "ensure_default_organization"
      responses:
        "200":
          description: "The caller's organization and their role in it"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MembershipResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
      security:
        - Organization API key: []
      x-speakeasy-ignore: true
  /organizations/current:
    get:
      tags:
        - "organizations"
      summary: "Read the active organization"
      description: "The organization the access token acts in, plus the caller's role in it. Fails with 403 when the token names no organization."
      operationId: "read_current_organization"
      responses:
        "200":
          description: "The active organization and the caller's role in it"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MembershipResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
      security:
        - Organization API key: []
      x-speakeasy-name-override: "retrieve"
    patch:
      tags:
        - "organizations"
      summary: "Rename the active organization"
      description: "Requires the **admin** role or above in the active organization."
      operationId: "rename_current_organization"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateOrganizationRequest"
        required: true
      responses:
        "200":
          description: "The renamed organization and the caller's role in it"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MembershipResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The token names no organization, or the caller's role is below admin"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - Organization API key: []
      x-speakeasy-name-override: "update"
  /organizations/current/api-keys:
    post:
      tags:
        - "api-keys"
      summary: "Create an API key"
      description: "Mints a key for the active organization. It acts with the caller's role, read from their membership on every request, so it can never outrank them. The response is the only time the token is readable."
      operationId: "create_api_key"
      security:
        - Organization API key: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateApiKeyRequest"
      responses:
        "201":
          description: "The new key, including its token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreatedApiKeyResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization, or it is an API key"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
    get:
      tags:
        - "api-keys"
      summary: "List API keys"
      description: "Every key of the active organization that has not been revoked, oldest first. A key that has expired is still listed, so that it can be read and cleaned up rather than vanishing unexplained; `expires_at` says which. Tokens are never included. Paginated: walk the pages with `page` and `size`."
      operationId: "list_api_keys"
      security:
        - Organization API key: []
      parameters:
        - name: "page"
          in: "query"
          required: false
          schema:
            type: "integer"
            minimum: 1
            description: "Page number"
            default: 1
            title: "Page"
          description: "Page number"
        - name: "size"
          in: "query"
          required: false
          schema:
            type: "integer"
            maximum: 100
            minimum: 1
            description: "Page size"
            default: 50
            title: "Size"
          description: "Page size"
      responses:
        "200":
          description: "One page of the organization's keys"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Page_ApiKeyResponse_"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization, or it is an API key"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /organizations/current/api-keys/{api_key_id}:
    delete:
      tags:
        - "api-keys"
      summary: "Revoke an API key"
      description: "The key stops working immediately. Its row stays, so a key seen in a log can still be named, and its token can never be minted again."
      operationId: "revoke_api_key"
      security:
        - Organization API key: []
      parameters:
        - name: "api_key_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Api Key Id"
      responses:
        "204":
          description: "Successful Response"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization, or it is an API key"
        "404":
          description: "No live key of the active organization has this id, whether because it belongs to another organization or because it is already revoked"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /twins/catalog:
    get:
      tags:
        - "catalog"
      summary: "List available twins"
      description: "Returns the registered code twins ordered by display name."
      operationId: "list_twins"
      security:
        - Organization API key: []
      parameters:
        - name: "page"
          in: "query"
          required: false
          schema:
            type: "integer"
            minimum: 1
            default: 1
            title: "Page"
        - name: "size"
          in: "query"
          required: false
          schema:
            type: "integer"
            maximum: 100
            minimum: 1
            default: 50
            title: "Size"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Page_TwinResponse_"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-group: "catalog"
      x-speakeasy-name-override: "list"
  /twins/catalog/{twin_slug}:
    get:
      tags:
        - "catalog"
      summary: "Retrieve a twin"
      operationId: "get_twin"
      security:
        - Organization API key: []
      parameters:
        - name: "twin_slug"
          in: "path"
          required: true
          schema:
            type: "string"
            title: "Twin Slug"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TwinResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "404":
          description: "Twin not found"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-group: "catalog"
      x-speakeasy-name-override: "retrieve"
  /environments:
    get:
      tags:
        - "environments"
      summary: "List environments"
      operationId: "list_environments"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/EnvironmentResponse"
                type: "array"
                title: "Response List Environments"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
      security:
        - Organization API key: []
      x-speakeasy-name-override: "list"
    post:
      tags:
        - "environments"
      summary: "Create an environment"
      description: "Records the environment and queues each twin for provisioning. The twins are not serving yet: read each one with `wait_for=ready`, then collect its API key."
      operationId: "create_environment"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateEnvironmentRequest"
        required: true
      responses:
        "202":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvironmentResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - Organization API key: []
      x-speakeasy-name-override: "create"
  /environments/{environment_id}:
    get:
      tags:
        - "environments"
      summary: "Retrieve an environment"
      operationId: "get_environment"
      security:
        - Organization API key: []
      parameters:
        - name: "environment_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Environment Id"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvironmentResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-name-override: "retrieve"
  /twins/{twin_id}:
    get:
      tags:
        - "twins"
      summary: "Retrieve a twin"
      description: "With `wait_for`, the answer is held until the twin reaches that state, a run of it settles, or the wait runs out — so a caller waiting for a twin to serve sends one request rather than polling."
      operationId: "get_environment_twin"
      security:
        - Organization API key: []
      parameters:
        - name: "twin_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Twin Id"
        - name: "wait_for"
          in: "query"
          required: false
          schema:
            anyOf:
              - enum:
                  - "ready"
                  - "stopped"
                type: "string"
              - type: "null"
            title: "Wait For"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvironmentTwinResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-group: "twins"
      x-speakeasy-name-override: "retrieve"
  /twins/{twin_id}/start:
    post:
      tags:
        - "twins"
      summary: "Start a twin"
      description: "Queues a fresh container. Its state and credentials are new."
      operationId: "start_environment_twin"
      security:
        - Organization API key: []
      parameters:
        - name: "twin_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Twin Id"
      responses:
        "202":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvironmentTwinResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-group: "twins"
      x-speakeasy-name-override: "start"
  /twins/{twin_id}/stop:
    post:
      tags:
        - "twins"
      summary: "Stop a twin"
      description: "Queues the container for destruction. Everything it holds is lost."
      operationId: "stop_environment_twin"
      security:
        - Organization API key: []
      parameters:
        - name: "twin_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Twin Id"
      responses:
        "202":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvironmentTwinResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-group: "twins"
      x-speakeasy-name-override: "stop"
  /twins/{twin_id}/credential:
    post:
      tags:
        - "twins"
      summary: "Collect the twin's API key"
      description: "Returns the key the twin's current container minted."
      operationId: "collect_environment_twin_credential"
      security:
        - Organization API key: []
      parameters:
        - name: "twin_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Twin Id"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvironmentCredentialResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-group: "twins"
      x-speakeasy-name-override: "collect_credential"
  /twins/{twin_id}/records/{resource}:
    get:
      tags:
        - "twins"
      summary: "List twin state"
      operationId: "list_environment_records"
      security:
        - Organization API key: []
      parameters:
        - name: "twin_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Twin Id"
        - name: "resource"
          in: "path"
          required: true
          schema:
            type: "string"
            title: "Resource"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/EnvironmentRecordResponse"
                title: "Response List Environment Records"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-group: "twin_records"
      x-speakeasy-name-override: "list"
  /twins/{twin_id}/records/{resource}/{external_id}:
    put:
      tags:
        - "twins"
      summary: "Replace a twin record"
      operationId: "update_environment_record"
      security:
        - Organization API key: []
      parameters:
        - name: "twin_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Twin Id"
        - name: "resource"
          in: "path"
          required: true
          schema:
            type: "string"
            title: "Resource"
        - name: "external_id"
          in: "path"
          required: true
          schema:
            type: "string"
            title: "External Id"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateEnvironmentRecordRequest"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvironmentRecordResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-group: "twin_records"
      x-speakeasy-name-override: "update"
  /twins/{twin_id}/advance:
    post:
      tags:
        - "twins"
      summary: "Advance a deterministic twin lifecycle"
      operationId: "advance_environment"
      security:
        - Organization API key: []
      parameters:
        - name: "twin_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Twin Id"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdvanceEnvironmentRequest"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties:
                  type: "integer"
                title: "Response Advance Environment"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-group: "twins"
      x-speakeasy-name-override: "advance"
  /scenarios:
    get:
      tags:
        - "scenarios"
      summary: "List scenarios"
      description: "Start an environment from a scenario by sending its id as `scenario` to `POST /environments`."
      operationId: "list_scenarios"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ScenarioResponse"
                type: "array"
                title: "Response List Scenarios"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
      security:
        - Organization API key: []
      x-speakeasy-name-override: "list"
    post:
      tags:
        - "scenarios"
      summary: "Create a scenario"
      description: "Save providers and optional reusable seeds without starting an environment."
      operationId: "create_scenario"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateScenarioRequest"
        required: true
      responses:
        "201":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScenarioResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - Organization API key: []
      x-speakeasy-name-override: "create"
  /scenarios/{scenario_id}:
    get:
      tags:
        - "scenarios"
      summary: "Retrieve a scenario"
      operationId: "get_scenario"
      security:
        - Organization API key: []
      parameters:
        - name: "scenario_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Scenario Id"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScenarioResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-name-override: "retrieve"
    patch:
      tags:
        - "scenarios"
      summary: "Update a scenario"
      description: "Change the name or replace provider selections. Existing environments are untouched."
      operationId: "update_scenario"
      security:
        - Organization API key: []
      parameters:
        - name: "scenario_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Scenario Id"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateScenarioRequest"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScenarioResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-name-override: "update"
    delete:
      tags:
        - "scenarios"
      summary: "Delete a scenario"
      description: "Referenced seeds and environments already started from it are untouched."
      operationId: "delete_scenario"
      security:
        - Organization API key: []
      parameters:
        - name: "scenario_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Scenario Id"
      responses:
        "204":
          description: "Successful Response"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-name-override: "delete"
  /seeds:
    post:
      tags:
        - "seeds"
      summary: "Generate a seed"
      description: "Describes the starting state you want and answers immediately; a worker expands it into rows. Read the seed until it is `ready`, then pass its id as a twin's `seed` when you create an environment."
      operationId: "create_seed"
      security:
        - Organization API key: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSeedRequest"
      responses:
        "202":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SeedResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "404":
          description: "Unknown twin"
        "422":
          description: "This twin cannot be seeded"
        "503":
          description: "Seed generation is not configured or its manifest is temporarily unavailable"
      x-speakeasy-name-override: "create"
    get:
      tags:
        - "seeds"
      summary: "List seeds"
      operationId: "list_seeds"
      security:
        - Organization API key: []
      parameters:
        - name: "twin"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "string"
              - type: "null"
            description: "Only seeds for this twin's slug."
            title: "Twin"
          description: "Only seeds for this twin's slug."
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/SeedResponse"
                title: "Response List Seeds"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-name-override: "list"
  /seeds/suggestions:
    get:
      tags:
        - "seeds"
      summary: "List suggested starting states"
      description: "Described states the product ships for each twin that can be seeded. Send one back as a seed's `prompt`, edited or as it stands."
      operationId: "list_seed_suggestions"
      security:
        - Organization API key: []
      parameters:
        - name: "twin"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "string"
              - type: "null"
            description: "Only suggestions for this twin's slug."
            title: "Twin"
          description: "Only suggestions for this twin's slug."
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/SeedSuggestionResponse"
                title: "Response List Seed Suggestions"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "503":
          description: "A twin manifest is temporarily unavailable"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-name-override: "list_suggestions"
  /seeds/{seed_id}:
    get:
      tags:
        - "seeds"
      summary: "Retrieve a seed"
      operationId: "get_seed"
      security:
        - Organization API key: []
      parameters:
        - name: "seed_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Seed Id"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SeedResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "404":
          description: "Seed not found"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-name-override: "retrieve"
    delete:
      tags:
        - "seeds"
      summary: "Delete a seed"
      description: "Refused while an environment or a scenario still uses it."
      operationId: "delete_seed"
      security:
        - Organization API key: []
      parameters:
        - name: "seed_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Seed Id"
      responses:
        "204":
          description: "Successful Response"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "404":
          description: "Seed not found"
        "409":
          description: "This seed is still in use"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-name-override: "delete"
  /environments/{environment_id}/logs:
    get:
      tags:
        - "environments"
      summary: "List recent environment request logs"
      operationId: "list_request_logs"
      security:
        - Organization API key: []
      parameters:
        - name: "environment_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Environment Id"
        - name: "environment_twin_id"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "string"
                format: "uuid"
              - type: "null"
            title: "Environment Twin Id"
        - name: "page"
          in: "query"
          required: false
          schema:
            type: "integer"
            minimum: 1
            description: "Page number"
            default: 1
            title: "Page"
          description: "Page number"
        - name: "size"
          in: "query"
          required: false
          schema:
            type: "integer"
            maximum: 100
            minimum: 1
            description: "Page size"
            default: 50
            title: "Size"
          description: "Page size"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Page_RequestLogSummaryResponse_"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-group: "environment_logs"
      x-speakeasy-name-override: "list"
  /environments/{environment_id}/logs/{request_id}:
    get:
      tags:
        - "environments"
      summary: "Retrieve an environment request log"
      operationId: "get_request_log"
      security:
        - Organization API key: []
      parameters:
        - name: "environment_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Environment Id"
        - name: "request_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Request Id"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RequestLogResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "404":
          description: "Request log not found"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-group: "environment_logs"
      x-speakeasy-name-override: "retrieve"
  /environments/{environment_id}/exports:
    post:
      tags:
        - "environments"
      summary: "Export an environment's traffic"
      description: "Records the slice to export and answers immediately; a worker writes the file. An empty body exports the whole environment for all of time."
      operationId: "create_export"
      security:
        - Organization API key: []
      parameters:
        - name: "environment_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Environment Id"
      requestBody:
        content:
          application/json:
            schema:
              anyOf:
                - $ref: "#/components/schemas/CreateExportRequest"
                - type: "null"
              title: "Payload"
      responses:
        "202":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExportResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "404":
          description: "Environment not found"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-group: "environment_exports"
      x-speakeasy-name-override: "create"
    get:
      tags:
        - "environments"
      summary: "List an environment's exports"
      operationId: "list_exports"
      security:
        - Organization API key: []
      parameters:
        - name: "environment_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Environment Id"
        - name: "page"
          in: "query"
          required: false
          schema:
            type: "integer"
            minimum: 1
            description: "Page number"
            default: 1
            title: "Page"
          description: "Page number"
        - name: "size"
          in: "query"
          required: false
          schema:
            type: "integer"
            maximum: 100
            minimum: 1
            description: "Page size"
            default: 50
            title: "Size"
          description: "Page size"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Page_ExportResponse_"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-group: "environment_exports"
      x-speakeasy-name-override: "list"
  /environments/{environment_id}/exports/{export_id}:
    get:
      tags:
        - "environments"
      summary: "Retrieve an export"
      operationId: "get_export"
      security:
        - Organization API key: []
      parameters:
        - name: "environment_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Environment Id"
        - name: "export_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Export Id"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExportResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "404":
          description: "Export not found"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-group: "environment_exports"
      x-speakeasy-name-override: "retrieve"
  /environments/{environment_id}/exports/{export_id}/download:
    get:
      tags:
        - "environments"
      summary: "Sign a link to an exported file"
      description: "A short-lived download URL for a ready export. JSON rather than a redirect, so the expiry is visible and no client has to follow one."
      operationId: "download_export"
      security:
        - Organization API key: []
      parameters:
        - name: "environment_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Environment Id"
        - name: "export_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Export Id"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExportDownloadResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "404":
          description: "Export not found"
        "409":
          description: "This export is not ready"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-group: "environment_exports"
      x-speakeasy-name-override: "download"
  /:
    get:
      tags:
        - "healthchecks"
      summary: "Read Root"
      operationId: "read_root"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                additionalProperties:
                  type: "integer"
                type: "object"
                title: "Response Read Root"
      x-speakeasy-ignore: true
  /health:
    get:
      tags:
        - "healthchecks"
      summary: "Read Health"
      operationId: "read_health"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                additionalProperties:
                  type: "integer"
                type: "object"
                title: "Response Read Health"
      x-speakeasy-ignore: true
components:
  schemas:
    AdvanceEnvironmentRequest:
      properties:
        at:
          anyOf:
            - type: "string"
              format: "date-time"
            - type: "null"
          title: "At"
          description: "Instant to advance the environment to. Defaults to now."
      additionalProperties: false
      type: "object"
      title: "AdvanceEnvironmentRequest"
    ApiKeyResponse:
      properties:
        id:
          type: "string"
          format: "uuid"
          title: "Id"
        name:
          type: "string"
          title: "Name"
        created_at:
          type: "string"
          format: "date-time"
          title: "Created At"
        expires_at:
          anyOf:
            - type: "string"
              format: "date-time"
            - type: "null"
          title: "Expires At"
          description: "When the key stops working, or null when it never does"
        created_by:
          $ref: "#/components/schemas/UserResponse"
          description: "The member whose role the key acts with. Demoting or removing them changes what the key can do."
      type: "object"
      required:
        - "id"
        - "name"
        - "created_at"
        - "expires_at"
        - "created_by"
      title: "ApiKeyResponse"
    CreateApiKeyRequest:
      properties:
        name:
          type: "string"
          maxLength: 100
          minLength: 1
          title: "Name"
          description: "What this key is for, in the operator's words"
        expires_at:
          anyOf:
            - type: "string"
              format: "date-time"
            - type: "null"
          title: "Expires At"
          description: "When the key stops working on its own. Omitted or null for a key that only stops when it is revoked."
      additionalProperties: false
      type: "object"
      required:
        - "name"
      title: "CreateApiKeyRequest"
    CreateEnvironmentRequest:
      properties:
        name:
          type: "string"
          maxLength: 100
          minLength: 1
          title: "Name"
          description: "Display name of the new environment. Generated when omitted."
        twins:
          anyOf:
            - items:
                anyOf:
                  - type: "string"
                    maxLength: 100
                    minLength: 1
                  - $ref: "#/components/schemas/CreateEnvironmentTwinRequest"
              type: "array"
              maxItems: 25
              minItems: 1
            - type: "null"
          title: "Twins"
          description: "Provider twins to provision, as slugs or objects with an optional seed. Omitted when a scenario supplies the twins."
        scenario:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
          title: "Scenario"
          description: "A saved environment definition to start from, instead of listing twins. Its twins are used as they were saved."
        save_as_scenario:
          type: "boolean"
          title: "Save As Scenario"
          description: "Also save this environment's definition, so another environment can be started from it later."
          default: false
      additionalProperties: false
      type: "object"
      title: "CreateEnvironmentRequest"
    CreateEnvironmentTwinRequest:
      properties:
        twin:
          type: "string"
          maxLength: 100
          minLength: 1
          title: "Twin"
          description: "Slug of the twin to serve"
        seed:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
          title: "Seed"
          description: "A generated starting state to load into this twin, by `seeds.id`. Omitted starts the twin with its own state and nothing else."
        description:
          anyOf:
            - type: "string"
              maxLength: 2000
              minLength: 1
            - type: "null"
          title: "Description"
          description: "Generate the first dataset in this twin before it becomes ready."
      additionalProperties: false
      type: "object"
      required:
        - "twin"
      title: "CreateEnvironmentTwinRequest"
    CreateExportRequest:
      properties:
        environment_twin_ids:
          anyOf:
            - items:
                type: "string"
                format: "uuid"
              type: "array"
              minItems: 1
            - type: "null"
          title: "Environment Twin Ids"
          description: "Twin slots inside this environment to export, by `environment_twins.id`. Omitted exports every twin; an empty list would export none, which is never what a caller means."
        occurred_from:
          anyOf:
            - type: "string"
              format: "date-time"
            - type: "null"
          title: "Occurred From"
          description: "Export calls served at or after this instant."
        occurred_until:
          anyOf:
            - type: "string"
              format: "date-time"
            - type: "null"
          title: "Occurred Until"
          description: "Export calls served at or before this instant. An export never reads past the moment it was asked for, whatever this says."
      additionalProperties: false
      type: "object"
      title: "CreateExportRequest"
    CreateOrganizationRequest:
      properties:
        name:
          type: "string"
          maxLength: 100
          minLength: 1
          title: "Name"
          description: "Display name of the new organization"
      additionalProperties: false
      type: "object"
      required:
        - "name"
      title: "CreateOrganizationRequest"
    CreateScenarioRequest:
      properties:
        name:
          type: "string"
          maxLength: 100
          minLength: 1
          title: "Name"
        twins:
          items:
            anyOf:
              - type: "string"
                maxLength: 100
                minLength: 1
              - $ref: "#/components/schemas/ScenarioTwinRequest"
          type: "array"
          maxItems: 25
          minItems: 1
          title: "Twins"
      additionalProperties: false
      type: "object"
      required:
        - "name"
        - "twins"
      title: "CreateScenarioRequest"
    CreateSeedRequest:
      properties:
        name:
          type: "string"
          maxLength: 100
          minLength: 1
          title: "Name"
          description: "Display name of the seed"
        twin:
          type: "string"
          maxLength: 100
          minLength: 1
          title: "Twin"
          description: "Slug of the twin this seed is for"
        prompt:
          type: "string"
          maxLength: 2000
          minLength: 1
          title: "Prompt"
          description: "The starting state you want, in your own words. \"50 open tickets, half of them aging past 90 days.\""
      additionalProperties: false
      type: "object"
      required:
        - "name"
        - "twin"
        - "prompt"
      title: "CreateSeedRequest"
    CreatedApiKeyResponse:
      properties:
        id:
          type: "string"
          format: "uuid"
          title: "Id"
        name:
          type: "string"
          title: "Name"
        created_at:
          type: "string"
          format: "date-time"
          title: "Created At"
        expires_at:
          anyOf:
            - type: "string"
              format: "date-time"
            - type: "null"
          title: "Expires At"
          description: "When the key stops working, or null when it never does"
        created_by:
          $ref: "#/components/schemas/UserResponse"
          description: "The member whose role the key acts with. Demoting or removing them changes what the key can do."
        token:
          type: "string"
          title: "Token"
          description: "The credential itself, to send in the `X-API-Key` header. Only the digest is stored, so this is the only time it is readable."
      type: "object"
      required:
        - "id"
        - "name"
        - "created_at"
        - "expires_at"
        - "created_by"
        - "token"
      title: "CreatedApiKeyResponse"
    EnvironmentCredentialResponse:
      properties:
        api_key:
          type: "string"
          title: "Api Key"
      type: "object"
      required:
        - "api_key"
      title: "EnvironmentCredentialResponse"
      description: "The provider key a container minted, handed over exactly once."
    EnvironmentRecordResponse:
      properties:
        external_id:
          type: "string"
          title: "External Id"
        resource:
          type: "string"
          title: "Resource"
        body:
          additionalProperties: true
          type: "object"
          title: "Body"
      type: "object"
      required:
        - "external_id"
        - "resource"
        - "body"
      title: "EnvironmentRecordResponse"
    EnvironmentResponse:
      properties:
        id:
          type: "string"
          format: "uuid"
          title: "Id"
        slug:
          type: "string"
          title: "Slug"
        name:
          type: "string"
          title: "Name"
        status:
          type: "string"
          title: "Status"
        twins:
          items:
            $ref: "#/components/schemas/EnvironmentTwinResponse"
          type: "array"
          title: "Twins"
        created_at:
          type: "string"
          format: "date-time"
          title: "Created At"
        expires_at:
          anyOf:
            - type: "string"
              format: "date-time"
            - type: "null"
          title: "Expires At"
      type: "object"
      required:
        - "id"
        - "slug"
        - "name"
        - "status"
        - "twins"
        - "created_at"
      title: "EnvironmentResponse"
    EnvironmentTwinResponse:
      properties:
        id:
          type: "string"
          format: "uuid"
          title: "Id"
        environment_id:
          type: "string"
          format: "uuid"
          title: "Environment Id"
        twin_slug:
          type: "string"
          title: "Twin Slug"
        twin_version:
          anyOf:
            - type: "string"
            - type: "null"
          title: "Twin Version"
          description: "The release the current container was started from."
        seed:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
          title: "Seed"
          description: "The starting state this twin was created with, if any."
        desired_state:
          type: "string"
          title: "Desired State"
          description: "running or stopped"
        state:
          type: "string"
          title: "State"
          description: "What the twin is actually doing: pending, provisioning, starting, ready, stopping, stopped or failed."
        url:
          type: "string"
          title: "Url"
        failure:
          anyOf:
            - type: "string"
            - type: "null"
          title: "Failure"
          description: "Why the current run is not serving, if it is not."
        created_at:
          type: "string"
          format: "date-time"
          title: "Created At"
        ready_at:
          anyOf:
            - type: "string"
              format: "date-time"
            - type: "null"
          title: "Ready At"
      type: "object"
      required:
        - "id"
        - "environment_id"
        - "twin_slug"
        - "desired_state"
        - "state"
        - "url"
        - "created_at"
      title: "EnvironmentTwinResponse"
    ExportDownloadResponse:
      properties:
        url:
          type: "string"
          title: "Url"
        expires_at:
          type: "string"
          format: "date-time"
          title: "Expires At"
      type: "object"
      required:
        - "url"
        - "expires_at"
      title: "ExportDownloadResponse"
      description: "A short-lived link to the exported file, which has no other door."
    ExportResponse:
      properties:
        id:
          type: "string"
          format: "uuid"
          title: "Id"
        environment_id:
          type: "string"
          format: "uuid"
          title: "Environment Id"
        status:
          type: "string"
          title: "Status"
          description: "pending, running, ready or failed"
        slice:
          $ref: "#/components/schemas/ExportSlice"
          description: "The traffic this export was asked for."
        failure:
          anyOf:
            - type: "string"
            - type: "null"
          title: "Failure"
          description: "Why generation failed, if it did."
        created_at:
          type: "string"
          format: "date-time"
          title: "Created At"
        completed_at:
          anyOf:
            - type: "string"
              format: "date-time"
            - type: "null"
          title: "Completed At"
      type: "object"
      required:
        - "id"
        - "environment_id"
        - "status"
        - "slice"
        - "created_at"
      title: "ExportResponse"
    ExportSlice:
      properties:
        environment_twin_ids:
          anyOf:
            - items:
                type: "string"
                format: "uuid"
              type: "array"
              minItems: 1
            - type: "null"
          title: "Environment Twin Ids"
          description: "Twin slots inside this environment to export, by `environment_twins.id`. Omitted exports every twin; an empty list would export none, which is never what a caller means."
        occurred_from:
          anyOf:
            - type: "string"
              format: "date-time"
            - type: "null"
          title: "Occurred From"
          description: "Export calls served at or after this instant."
        occurred_until:
          anyOf:
            - type: "string"
              format: "date-time"
            - type: "null"
          title: "Occurred Until"
          description: "Export calls served at or before this instant. An export never reads past the moment it was asked for, whatever this says."
      type: "object"
      title: "ExportSlice"
      description: "The traffic an export was asked for, where null means no limit.\n\nThe same shape on the way in and on the way out, and it is echoed into the\nexported file: a filtered export and a whole-environment one are otherwise\nindistinguishable, which is the difference between a dataset and a wrong\ndataset."
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: "#/components/schemas/ValidationError"
          type: "array"
          title: "Detail"
      type: "object"
      title: "HTTPValidationError"
    MeResponse:
      properties:
        user:
          $ref: "#/components/schemas/UserResponse"
        active_organization_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
          title: "Active Organization Id"
          description: "Organization the access token in use is scoped to, or null while the caller has not joined one yet"
        memberships:
          items:
            $ref: "#/components/schemas/MembershipResponse"
          type: "array"
          title: "Memberships"
          description: "Every organization the caller belongs to, with their role"
      type: "object"
      required:
        - "user"
        - "active_organization_id"
        - "memberships"
      title: "MeResponse"
    MembershipResponse:
      properties:
        organization:
          $ref: "#/components/schemas/OrganizationResponse"
        role:
          $ref: "#/components/schemas/OrganizationRole"
          description: "The caller's role in this organization"
      type: "object"
      required:
        - "organization"
        - "role"
      title: "MembershipResponse"
    OrganizationResponse:
      properties:
        id:
          type: "string"
          format: "uuid"
          title: "Id"
        workos_organization_id:
          anyOf:
            - type: "string"
            - type: "null"
          title: "Workos Organization Id"
          description: "WorkOS id of this organization. Clients need it to ask AuthKit for a token that acts here."
        name:
          type: "string"
          title: "Name"
        created_at:
          type: "string"
          format: "date-time"
          title: "Created At"
      type: "object"
      required:
        - "id"
        - "workos_organization_id"
        - "name"
        - "created_at"
      title: "OrganizationResponse"
    OrganizationRole:
      type: "string"
      enum:
        - "admin"
        - "member"
      title: "OrganizationRole"
    Page_ApiKeyResponse_:
      properties:
        items:
          items:
            $ref: "#/components/schemas/ApiKeyResponse"
          type: "array"
          title: "Items"
        total:
          type: "integer"
          minimum: 0.0
          title: "Total"
        page:
          type: "integer"
          minimum: 1.0
          title: "Page"
        size:
          type: "integer"
          minimum: 1.0
          title: "Size"
        pages:
          type: "integer"
          minimum: 0.0
          title: "Pages"
      type: "object"
      required:
        - "items"
        - "total"
        - "page"
        - "size"
        - "pages"
      title: "Page[ApiKeyResponse]"
    Page_ExportResponse_:
      properties:
        items:
          items:
            $ref: "#/components/schemas/ExportResponse"
          type: "array"
          title: "Items"
        total:
          type: "integer"
          minimum: 0.0
          title: "Total"
        page:
          type: "integer"
          minimum: 1.0
          title: "Page"
        size:
          type: "integer"
          minimum: 1.0
          title: "Size"
        pages:
          type: "integer"
          minimum: 0.0
          title: "Pages"
      type: "object"
      required:
        - "items"
        - "total"
        - "page"
        - "size"
        - "pages"
      title: "Page[ExportResponse]"
    Page_MembershipResponse_:
      properties:
        items:
          items:
            $ref: "#/components/schemas/MembershipResponse"
          type: "array"
          title: "Items"
        total:
          type: "integer"
          minimum: 0.0
          title: "Total"
        page:
          type: "integer"
          minimum: 1.0
          title: "Page"
        size:
          type: "integer"
          minimum: 1.0
          title: "Size"
        pages:
          type: "integer"
          minimum: 0.0
          title: "Pages"
      type: "object"
      required:
        - "items"
        - "total"
        - "page"
        - "size"
        - "pages"
      title: "Page[MembershipResponse]"
    Page_RequestLogSummaryResponse_:
      properties:
        items:
          items:
            $ref: "#/components/schemas/RequestLogSummaryResponse"
          type: "array"
          title: "Items"
        total:
          type: "integer"
          minimum: 0.0
          title: "Total"
        page:
          type: "integer"
          minimum: 1.0
          title: "Page"
        size:
          type: "integer"
          minimum: 1.0
          title: "Size"
        pages:
          type: "integer"
          minimum: 0.0
          title: "Pages"
      type: "object"
      required:
        - "items"
        - "total"
        - "page"
        - "size"
        - "pages"
      title: "Page[RequestLogSummaryResponse]"
    Page_TwinResponse_:
      properties:
        items:
          items:
            $ref: "#/components/schemas/TwinResponse"
          type: "array"
          title: "Items"
        total:
          type: "integer"
          minimum: 0.0
          title: "Total"
        page:
          type: "integer"
          minimum: 1.0
          title: "Page"
        size:
          type: "integer"
          minimum: 1.0
          title: "Size"
        pages:
          type: "integer"
          minimum: 0.0
          title: "Pages"
      type: "object"
      required:
        - "items"
        - "total"
        - "page"
        - "size"
        - "pages"
      title: "Page[TwinResponse]"
    RequestLogBody:
      properties:
        content_type:
          anyOf:
            - type: "string"
            - type: "null"
          title: "Content Type"
        size:
          type: "integer"
          title: "Size"
        truncated:
          type: "boolean"
          title: "Truncated"
        text:
          anyOf:
            - type: "string"
            - type: "null"
          title: "Text"
          description: "Decoded body, or null when the payload is not text."
      type: "object"
      required:
        - "content_type"
        - "size"
        - "truncated"
      title: "RequestLogBody"
      description: "A captured payload, as the bytes it was rather than as parsed JSON.\n\nA twin answers with whatever its provider answers with, so the log holds\ntext when it is decodable and says so when it is not. `truncated` reports\nthat the container capped the capture, not that the caller sent less."
    RequestLogResponse:
      properties:
        id:
          type: "string"
          format: "uuid"
          title: "Id"
        environment_id:
          type: "string"
          format: "uuid"
          title: "Environment Id"
        environment_twin_id:
          type: "string"
          format: "uuid"
          title: "Environment Twin Id"
        method:
          type: "string"
          title: "Method"
        path:
          type: "string"
          title: "Path"
        query_string:
          type: "string"
          title: "Query String"
        status_code:
          type: "integer"
          title: "Status Code"
        duration_ms:
          type: "integer"
          title: "Duration Ms"
        occurred_at:
          type: "string"
          format: "date-time"
          title: "Occurred At"
        request:
          anyOf:
            - $ref: "#/components/schemas/RequestLogBody"
            - type: "null"
        response:
          anyOf:
            - $ref: "#/components/schemas/RequestLogBody"
            - type: "null"
      type: "object"
      required:
        - "id"
        - "environment_id"
        - "environment_twin_id"
        - "method"
        - "path"
        - "query_string"
        - "status_code"
        - "duration_ms"
        - "occurred_at"
        - "request"
        - "response"
      title: "RequestLogResponse"
    RequestLogSummaryResponse:
      properties:
        id:
          type: "string"
          format: "uuid"
          title: "Id"
        environment_id:
          type: "string"
          format: "uuid"
          title: "Environment Id"
        environment_twin_id:
          type: "string"
          format: "uuid"
          title: "Environment Twin Id"
        method:
          type: "string"
          title: "Method"
        path:
          type: "string"
          title: "Path"
        query_string:
          type: "string"
          title: "Query String"
        status_code:
          type: "integer"
          title: "Status Code"
        duration_ms:
          type: "integer"
          title: "Duration Ms"
        occurred_at:
          type: "string"
          format: "date-time"
          title: "Occurred At"
      type: "object"
      required:
        - "id"
        - "environment_id"
        - "environment_twin_id"
        - "method"
        - "path"
        - "query_string"
        - "status_code"
        - "duration_ms"
        - "occurred_at"
      title: "RequestLogSummaryResponse"
    ScenarioResponse:
      properties:
        id:
          type: "string"
          format: "uuid"
          title: "Id"
        name:
          type: "string"
          title: "Name"
        twins:
          items:
            $ref: "#/components/schemas/ScenarioTwinResponse"
          type: "array"
          title: "Twins"
        created_at:
          type: "string"
          format: "date-time"
          title: "Created At"
      type: "object"
      required:
        - "id"
        - "name"
        - "twins"
        - "created_at"
      title: "ScenarioResponse"
    ScenarioTwinRequest:
      properties:
        twin:
          type: "string"
          maxLength: 100
          minLength: 1
          title: "Twin"
        seed:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
          title: "Seed"
      additionalProperties: false
      type: "object"
      required:
        - "twin"
      title: "ScenarioTwinRequest"
    ScenarioTwinResponse:
      properties:
        twin:
          type: "string"
          title: "Twin"
        seed:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
          title: "Seed"
      type: "object"
      required:
        - "twin"
      title: "ScenarioTwinResponse"
    SeedResponse:
      properties:
        id:
          type: "string"
          format: "uuid"
          title: "Id"
        name:
          type: "string"
          title: "Name"
        twin:
          type: "string"
          title: "Twin"
          description: "The twin this seed can be loaded into."
        prompt:
          type: "string"
          title: "Prompt"
          description: "The starting state this seed was asked for."
        status:
          type: "string"
          title: "Status"
          description: "pending, running, ready or failed"
        failure:
          anyOf:
            - type: "string"
            - type: "null"
          title: "Failure"
          description: "Why generation failed, if it did."
        twin_version:
          anyOf:
            - type: "string"
            - type: "null"
          title: "Twin Version"
          description: "The release this seed was generated against."
        usable:
          type: "boolean"
          title: "Usable"
          description: "Whether the twin's current release can still load this seed. False means the twin's storage changed since it was generated, so it has to be generated again."
        size_bytes:
          anyOf:
            - type: "integer"
            - type: "null"
          title: "Size Bytes"
        created_at:
          type: "string"
          format: "date-time"
          title: "Created At"
        completed_at:
          anyOf:
            - type: "string"
              format: "date-time"
            - type: "null"
          title: "Completed At"
      type: "object"
      required:
        - "id"
        - "name"
        - "twin"
        - "prompt"
        - "status"
        - "usable"
        - "created_at"
      title: "SeedResponse"
    SeedSuggestionResponse:
      properties:
        twin:
          type: "string"
          title: "Twin"
        name:
          type: "string"
          title: "Name"
        prompt:
          type: "string"
          title: "Prompt"
      type: "object"
      required:
        - "twin"
        - "name"
        - "prompt"
      title: "SeedSuggestionResponse"
      description: "A starting state the product suggests, as a name and a description to edit.\n\nBuilt-in starters are not a second mechanism: they are described states a\ncaller can send straight back to `POST /seeds`, so there is one store, one\napply path and no seed that belongs to nobody."
    TwinResponse:
      properties:
        slug:
          type: "string"
          title: "Slug"
        name:
          type: "string"
          title: "Name"
        description:
          type: "string"
          title: "Description"
        version:
          type: "string"
          title: "Version"
      type: "object"
      required:
        - "slug"
        - "name"
        - "description"
        - "version"
      title: "TwinResponse"
    UpdateEnvironmentRecordRequest:
      properties:
        fields:
          additionalProperties: true
          type: "object"
          title: "Fields"
          description: "The record's fields, as the provider's API returns them."
      additionalProperties: false
      type: "object"
      required:
        - "fields"
      title: "UpdateEnvironmentRecordRequest"
    UpdateOrganizationRequest:
      properties:
        name:
          type: "string"
          maxLength: 100
          minLength: 1
          title: "Name"
          description: "New display name of the organization"
      additionalProperties: false
      type: "object"
      required:
        - "name"
      title: "UpdateOrganizationRequest"
    UpdateScenarioRequest:
      properties:
        name:
          anyOf:
            - type: "string"
              maxLength: 100
              minLength: 1
            - type: "null"
          title: "Name"
        twins:
          anyOf:
            - items:
                anyOf:
                  - type: "string"
                    maxLength: 100
                    minLength: 1
                  - $ref: "#/components/schemas/ScenarioTwinRequest"
              type: "array"
              maxItems: 25
              minItems: 1
            - type: "null"
          title: "Twins"
      additionalProperties: false
      type: "object"
      title: "UpdateScenarioRequest"
    UserResponse:
      properties:
        id:
          type: "string"
          format: "uuid"
          title: "Id"
        email:
          type: "string"
          format: "email"
          title: "Email"
        first_name:
          type: "string"
          title: "First Name"
        last_name:
          type: "string"
          title: "Last Name"
      type: "object"
      required:
        - "id"
        - "email"
        - "first_name"
        - "last_name"
      title: "UserResponse"
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
              - type: "string"
              - type: "integer"
          type: "array"
          title: "Location"
        msg:
          type: "string"
          title: "Message"
        type:
          type: "string"
          title: "Error Type"
        input:
          title: "Input"
        ctx:
          type: "object"
          title: "Context"
      type: "object"
      required:
        - "loc"
        - "msg"
        - "type"
      title: "ValidationError"
  securitySchemes:
    Organization API key:
      type: "apiKey"
      description: "An organization API key. Create one at https://console.twinbay.ai/api-keys"
      in: "header"
      name: "X-API-Key"
tags:
  - name: "healthchecks"
    description: "Healthcheck endpoints"
  - name: "users"
    description: "The current user. Sign-up and sign-in happen in WorkOS AuthKit, which issues the access tokens this API accepts."
  - name: "organizations"
    description: "Organizations the caller belongs to. Every authenticated request acts inside exactly one organization — the one its access token names — so these routes address it as `current`."
  - name: "api-keys"
    description: "Long-lived credentials for callers that cannot hold an AuthKit session — agents, SDKs, CI. A key is accepted wherever an access token is, and acts with the role its creator holds when the request arrives."
  - name: "environments"
    description: "Create and edit isolated provider environments. Each environment contains behavioural twins from the `twins` package."
  - name: "twins"
    description: "Manage provisioned twins by their IDs."
  - name: "catalog"
    description: "Browse the digital twins available for new environments."
  - name: "scenarios"
    description: "Reusable starting setups of provider twins and optional seeds."
  - name: "seeds"
    description: "Starting states for a twin. Describe the data you want in your own words, and a worker expands it into rows once; pass the seed's id when you create an environment to start a twin holding it."
