openapi: "3.1.0"
info:
  title: "Twinbay"
  description: "Backend API"
  version: "0.1.0"
servers:
  - url: "https://api.twinbay.ai"
    description: "Production"
paths:
  /users/me:
    get:
      tags:
        - "users"
      summary: "Read the authenticated user"
      description: "Returns the caller, the organization their token acts in, and every organization they belong to with their role in each. A caller who has not joined an organization yet gets a null active organization, which is how the client knows to show onboarding."
      operationId: "read_me"
      responses:
        "200":
          description: "The caller and their memberships"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MeResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The token names an organization with a role we do not model"
      security:
        - Organization API key: []
      x-speakeasy-name-override: "retrieve"
  /organizations:
    get:
      tags:
        - "organizations"
      summary: "List your organizations"
      description: "Every organization the caller is a member of, with their role in each, oldest membership first. Independent of the organization the current token acts in. Paginated: walk the pages with `page` and `size`."
      operationId: "list_organizations"
      security:
        - Organization API key: []
      parameters:
        - name: "page"
          in: "query"
          required: false
          schema:
            type: "integer"
            minimum: 1
            description: "Page number"
            default: 1
            title: "Page"
          description: "Page number"
        - name: "size"
          in: "query"
          required: false
          schema:
            type: "integer"
            maximum: 100
            minimum: 1
            description: "Page size"
            default: 50
            title: "Size"
          description: "Page size"
      responses:
        "200":
          description: "One page of the caller's memberships"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Page_MembershipResponse_"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
    post:
      tags:
        - "organizations"
      summary: "Create an organization"
      description: "Creates the organization in WorkOS with the caller as an admin, then mirrors it locally. The caller's current token is unchanged; refresh the AuthKit session into the new organization to act inside it."
      operationId: "create_organization"
      security:
        - Organization API key: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateOrganizationRequest"
      responses:
        "201":
          description: "The new organization and the caller's role in it"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MembershipResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /organizations/default:
    post:
      tags:
        - "organizations"
      summary: "Create your first organization"
      description: "Idempotent: answers with the caller's oldest organization when they already belong to one, and otherwise creates one named after them, with the caller as an admin. This is what signing up calls, so that onboarding never has to ask for a name. Refresh the AuthKit session into the organization to act inside it."
      operationId: "ensure_default_organization"
      responses:
        "200":
          description: "The caller's organization and their role in it"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MembershipResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
      security:
        - Organization API key: []
      x-speakeasy-ignore: true
  /organizations/current:
    get:
      tags:
        - "organizations"
      summary: "Read the active organization"
      description: "The organization the access token acts in, plus the caller's role in it. Fails with 403 when the token names no organization."
      operationId: "read_current_organization"
      responses:
        "200":
          description: "The active organization and the caller's role in it"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MembershipResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
      security:
        - Organization API key: []
      x-speakeasy-name-override: "retrieve"
    patch:
      tags:
        - "organizations"
      summary: "Rename the active organization"
      description: "Requires the **admin** role or above in the active organization."
      operationId: "rename_current_organization"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateOrganizationRequest"
        required: true
      responses:
        "200":
          description: "The renamed organization and the caller's role in it"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MembershipResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The token names no organization, or the caller's role is below admin"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - Organization API key: []
      x-speakeasy-name-override: "update"
  /organizations/current/api-keys:
    post:
      tags:
        - "api-keys"
      summary: "Create an API key"
      description: "Mints a key for the active organization. It acts with the caller's role, read from their membership on every request, so it can never outrank them. The response is the only time the token is readable."
      operationId: "create_api_key"
      security:
        - Organization API key: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateApiKeyRequest"
      responses:
        "201":
          description: "The new key, including its token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreatedApiKeyResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization, or it is an API key"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
    get:
      tags:
        - "api-keys"
      summary: "List API keys"
      description: "Every key of the active organization that has not been revoked, oldest first. A key that has expired is still listed, so that it can be read and cleaned up rather than vanishing unexplained; `expires_at` says which. Tokens are never included. Paginated: walk the pages with `page` and `size`."
      operationId: "list_api_keys"
      security:
        - Organization API key: []
      parameters:
        - name: "page"
          in: "query"
          required: false
          schema:
            type: "integer"
            minimum: 1
            description: "Page number"
            default: 1
            title: "Page"
          description: "Page number"
        - name: "size"
          in: "query"
          required: false
          schema:
            type: "integer"
            maximum: 100
            minimum: 1
            description: "Page size"
            default: 50
            title: "Size"
          description: "Page size"
      responses:
        "200":
          description: "One page of the organization's keys"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Page_ApiKeyResponse_"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization, or it is an API key"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /organizations/current/api-keys/{api_key_id}:
    delete:
      tags:
        - "api-keys"
      summary: "Revoke an API key"
      description: "The key stops working immediately. Its row stays, so a key seen in a log can still be named, and its token can never be minted again."
      operationId: "revoke_api_key"
      security:
        - Organization API key: []
      parameters:
        - name: "api_key_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Api Key Id"
      responses:
        "204":
          description: "Successful Response"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization, or it is an API key"
        "404":
          description: "No live key of the active organization has this id, whether because it belongs to another organization or because it is already revoked"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /twins:
    get:
      tags:
        - "twins"
      summary: "List available twins"
      description: "Returns the registered code twins ordered by display name."
      operationId: "list_twins"
      security:
        - Organization API key: []
      parameters:
        - name: "page"
          in: "query"
          required: false
          schema:
            type: "integer"
            minimum: 1
            default: 1
            title: "Page"
        - name: "size"
          in: "query"
          required: false
          schema:
            type: "integer"
            maximum: 100
            minimum: 1
            default: 50
            title: "Size"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Page_TwinResponse_"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /twins/{twin_slug}:
    get:
      tags:
        - "twins"
      summary: "Retrieve a twin"
      operationId: "get_twin"
      security:
        - Organization API key: []
      parameters:
        - name: "twin_slug"
          in: "path"
          required: true
          schema:
            type: "string"
            title: "Twin Slug"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TwinResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "404":
          description: "Twin not found"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-name-override: "retrieve"
  /environments:
    get:
      tags:
        - "environments"
      summary: "List environments"
      operationId: "list_environments"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/EnvironmentResponse"
                type: "array"
                title: "Response List Environments"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
      security:
        - Organization API key: []
      x-speakeasy-name-override: "list"
    post:
      tags:
        - "environments"
      summary: "Create an environment"
      description: "Records the environment and queues each twin for provisioning. The twins are not serving yet: read each one with `wait_for=ready`, then collect its API key."
      operationId: "create_environment"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateEnvironmentRequest"
        required: true
      responses:
        "202":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvironmentResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - Organization API key: []
      x-speakeasy-name-override: "create"
  /environments/{environment_id}:
    get:
      tags:
        - "environments"
      summary: "Retrieve an environment"
      operationId: "get_environment"
      security:
        - Organization API key: []
      parameters:
        - name: "environment_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Environment Id"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvironmentResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-name-override: "retrieve"
  /environments/{environment_id}/twins/{environment_twin_id}:
    get:
      tags:
        - "environments"
      summary: "Retrieve an environment twin"
      description: "With `wait_for`, the answer is held until the twin reaches that state, a run of it settles, or the wait runs out — so a caller waiting for a twin to serve sends one request rather than polling."
      operationId: "get_environment_twin"
      security:
        - Organization API key: []
      parameters:
        - name: "environment_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Environment Id"
        - name: "environment_twin_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Environment Twin Id"
        - name: "wait_for"
          in: "query"
          required: false
          schema:
            anyOf:
              - enum:
                  - "ready"
                  - "stopped"
                type: "string"
              - type: "null"
            title: "Wait For"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvironmentTwinResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-group: "environment_twins"
      x-speakeasy-name-override: "retrieve"
  /environments/{environment_id}/twins/{environment_twin_id}/start:
    post:
      tags:
        - "environments"
      summary: "Start an environment twin"
      description: "Queues a fresh container. Its state and credentials are new."
      operationId: "start_environment_twin"
      security:
        - Organization API key: []
      parameters:
        - name: "environment_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Environment Id"
        - name: "environment_twin_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Environment Twin Id"
      responses:
        "202":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvironmentTwinResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-group: "environment_twins"
      x-speakeasy-name-override: "start"
  /environments/{environment_id}/twins/{environment_twin_id}/stop:
    post:
      tags:
        - "environments"
      summary: "Stop an environment twin"
      description: "Queues the container for destruction. Everything it holds is lost."
      operationId: "stop_environment_twin"
      security:
        - Organization API key: []
      parameters:
        - name: "environment_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Environment Id"
        - name: "environment_twin_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Environment Twin Id"
      responses:
        "202":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvironmentTwinResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-group: "environment_twins"
      x-speakeasy-name-override: "stop"
  /environments/{environment_id}/twins/{environment_twin_id}/credential:
    post:
      tags:
        - "environments"
      summary: "Collect the twin's API key"
      description: "Returns the key once. A second call is refused."
      operationId: "collect_environment_twin_credential"
      security:
        - Organization API key: []
      parameters:
        - name: "environment_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Environment Id"
        - name: "environment_twin_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Environment Twin Id"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvironmentCredentialResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-group: "environment_twins"
      x-speakeasy-name-override: "collect_credential"
  /environments/{environment_id}/twins/{environment_twin_id}/records/{resource}:
    get:
      tags:
        - "environments"
      summary: "List environment twin state"
      operationId: "list_environment_records"
      security:
        - Organization API key: []
      parameters:
        - name: "environment_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Environment Id"
        - name: "environment_twin_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Environment Twin Id"
        - name: "resource"
          in: "path"
          required: true
          schema:
            type: "string"
            title: "Resource"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/EnvironmentRecordResponse"
                title: "Response List Environment Records"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-group: "environment_records"
      x-speakeasy-name-override: "list"
  /environments/{environment_id}/twins/{environment_twin_id}/records/{resource}/{external_id}:
    put:
      tags:
        - "environments"
      summary: "Replace an environment twin record"
      operationId: "update_environment_record"
      security:
        - Organization API key: []
      parameters:
        - name: "environment_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Environment Id"
        - name: "environment_twin_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Environment Twin Id"
        - name: "resource"
          in: "path"
          required: true
          schema:
            type: "string"
            title: "Resource"
        - name: "external_id"
          in: "path"
          required: true
          schema:
            type: "string"
            title: "External Id"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateEnvironmentRecordRequest"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvironmentRecordResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-group: "environment_records"
      x-speakeasy-name-override: "update"
  /environments/{environment_id}/twins/{environment_twin_id}/advance:
    post:
      tags:
        - "environments"
      summary: "Advance a deterministic twin lifecycle"
      operationId: "advance_environment"
      security:
        - Organization API key: []
      parameters:
        - name: "environment_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Environment Id"
        - name: "environment_twin_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Environment Twin Id"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdvanceEnvironmentRequest"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties:
                  type: "integer"
                title: "Response Advance Environment"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-group: "environment_twins"
      x-speakeasy-name-override: "advance"
  /environment-templates:
    get:
      tags:
        - "environments"
      summary: "List environment templates"
      description: "Saved environment definitions. Start an environment from one by sending its id as `template` to `POST /environments`."
      operationId: "list_environment_templates"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/EnvironmentTemplateResponse"
                type: "array"
                title: "Response List Environment Templates"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
      security:
        - Organization API key: []
      x-speakeasy-group: "environment_templates"
      x-speakeasy-name-override: "list"
  /environment-templates/{template_id}:
    delete:
      tags:
        - "environments"
      summary: "Delete an environment template"
      description: "Environments already started from it are untouched."
      operationId: "delete_environment_template"
      security:
        - Organization API key: []
      parameters:
        - name: "template_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Template Id"
      responses:
        "204":
          description: "Successful Response"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-group: "environment_templates"
      x-speakeasy-name-override: "delete"
  /environments/{environment_id}/logs:
    get:
      tags:
        - "environments"
      summary: "List recent environment request logs"
      operationId: "list_request_logs"
      security:
        - Organization API key: []
      parameters:
        - name: "environment_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Environment Id"
        - name: "environment_twin_id"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "string"
                format: "uuid"
              - type: "null"
            title: "Environment Twin Id"
        - name: "page"
          in: "query"
          required: false
          schema:
            type: "integer"
            minimum: 1
            description: "Page number"
            default: 1
            title: "Page"
          description: "Page number"
        - name: "size"
          in: "query"
          required: false
          schema:
            type: "integer"
            maximum: 100
            minimum: 1
            description: "Page size"
            default: 50
            title: "Size"
          description: "Page size"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Page_RequestLogSummaryResponse_"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-group: "environment_logs"
      x-speakeasy-name-override: "list"
  /environments/{environment_id}/logs/{request_id}:
    get:
      tags:
        - "environments"
      summary: "Retrieve an environment request log"
      operationId: "get_request_log"
      security:
        - Organization API key: []
      parameters:
        - name: "environment_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Environment Id"
        - name: "request_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Request Id"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RequestLogResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "404":
          description: "Request log not found"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-group: "environment_logs"
      x-speakeasy-name-override: "retrieve"
  /:
    get:
      tags:
        - "healthchecks"
      summary: "Read Root"
      operationId: "read_root"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                additionalProperties:
                  type: "integer"
                type: "object"
                title: "Response Read Root"
      x-speakeasy-ignore: true
  /health:
    get:
      tags:
        - "healthchecks"
      summary: "Read Health"
      operationId: "read_health"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                additionalProperties:
                  type: "integer"
                type: "object"
                title: "Response Read Health"
      x-speakeasy-ignore: true
components:
  schemas:
    AdvanceEnvironmentRequest:
      properties:
        at:
          anyOf:
            - type: "string"
              format: "date-time"
            - type: "null"
          title: "At"
          description: "Instant to advance the environment to. Defaults to now."
      additionalProperties: false
      type: "object"
      title: "AdvanceEnvironmentRequest"
    ApiKeyResponse:
      properties:
        id:
          type: "string"
          format: "uuid"
          title: "Id"
        name:
          type: "string"
          title: "Name"
        created_at:
          type: "string"
          format: "date-time"
          title: "Created At"
        expires_at:
          anyOf:
            - type: "string"
              format: "date-time"
            - type: "null"
          title: "Expires At"
          description: "When the key stops working, or null when it never does"
        created_by:
          $ref: "#/components/schemas/UserResponse"
          description: "The member whose role the key acts with. Demoting or removing them changes what the key can do."
      type: "object"
      required:
        - "id"
        - "name"
        - "created_at"
        - "expires_at"
        - "created_by"
      title: "ApiKeyResponse"
    CreateApiKeyRequest:
      properties:
        name:
          type: "string"
          maxLength: 100
          minLength: 1
          title: "Name"
          description: "What this key is for, in the operator's words"
        expires_at:
          anyOf:
            - type: "string"
              format: "date-time"
            - type: "null"
          title: "Expires At"
          description: "When the key stops working on its own. Omitted or null for a key that only stops when it is revoked."
      additionalProperties: false
      type: "object"
      required:
        - "name"
      title: "CreateApiKeyRequest"
    CreateEnvironmentRequest:
      properties:
        name:
          type: "string"
          maxLength: 100
          minLength: 1
          title: "Name"
          description: "Display name of the new environment"
        prompt:
          anyOf:
            - type: "string"
              maxLength: 4000
              minLength: 1
            - type: "null"
          title: "Prompt"
          description: "A natural-language description of the scenario the whole environment represents. Every twin in it is seeded from this description while it is being provisioned."
        twins:
          anyOf:
            - items:
                $ref: "#/components/schemas/CreateEnvironmentTwinRequest"
              type: "array"
              maxItems: 25
              minItems: 1
            - type: "null"
          title: "Twins"
          description: "Provider twins to provision in the environment. Omitted when the environment is started from a template, which holds them already."
        template:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
          title: "Template"
          description: "A saved environment definition to start from, instead of listing twins. Its twins, their curated scenarios and their instructions are used as they were saved."
        save_as_template:
          type: "boolean"
          title: "Save As Template"
          description: "Also save this environment's definition, so another environment can be started from it later."
          default: false
      additionalProperties: false
      type: "object"
      required:
        - "name"
      title: "CreateEnvironmentRequest"
    CreateEnvironmentTwinRequest:
      properties:
        twin:
          type: "string"
          maxLength: 100
          minLength: 1
          title: "Twin"
          description: "Slug of the twin to serve"
        scenario_template:
          anyOf:
            - type: "string"
              maxLength: 100
              minLength: 1
            - type: "null"
          title: "Scenario Template"
          description: "A curated scenario offered by the selected twin."
        prompt:
          anyOf:
            - type: "string"
              maxLength: 4000
              minLength: 1
            - type: "null"
          title: "Prompt"
          description: "What this twin adds to the environment's instruction, for a provider that needs a note of its own. It is appended to the environment instruction rather than replacing it."
      additionalProperties: false
      type: "object"
      required:
        - "twin"
      title: "CreateEnvironmentTwinRequest"
    CreateOrganizationRequest:
      properties:
        name:
          type: "string"
          maxLength: 100
          minLength: 1
          title: "Name"
          description: "Display name of the new organization"
      additionalProperties: false
      type: "object"
      required:
        - "name"
      title: "CreateOrganizationRequest"
    CreatedApiKeyResponse:
      properties:
        id:
          type: "string"
          format: "uuid"
          title: "Id"
        name:
          type: "string"
          title: "Name"
        created_at:
          type: "string"
          format: "date-time"
          title: "Created At"
        expires_at:
          anyOf:
            - type: "string"
              format: "date-time"
            - type: "null"
          title: "Expires At"
          description: "When the key stops working, or null when it never does"
        created_by:
          $ref: "#/components/schemas/UserResponse"
          description: "The member whose role the key acts with. Demoting or removing them changes what the key can do."
        token:
          type: "string"
          title: "Token"
          description: "The credential itself, to send in the `X-API-Key` header. Only the digest is stored, so this is the only time it is readable."
      type: "object"
      required:
        - "id"
        - "name"
        - "created_at"
        - "expires_at"
        - "created_by"
        - "token"
      title: "CreatedApiKeyResponse"
    EnvironmentCredentialResponse:
      properties:
        api_key:
          type: "string"
          title: "Api Key"
      type: "object"
      required:
        - "api_key"
      title: "EnvironmentCredentialResponse"
      description: "The provider key a container minted, handed over exactly once."
    EnvironmentRecordResponse:
      properties:
        external_id:
          type: "string"
          title: "External Id"
        resource:
          type: "string"
          title: "Resource"
        body:
          additionalProperties: true
          type: "object"
          title: "Body"
      type: "object"
      required:
        - "external_id"
        - "resource"
        - "body"
      title: "EnvironmentRecordResponse"
    EnvironmentResponse:
      properties:
        id:
          type: "string"
          format: "uuid"
          title: "Id"
        slug:
          type: "string"
          title: "Slug"
        name:
          type: "string"
          title: "Name"
        status:
          type: "string"
          title: "Status"
        twins:
          items:
            $ref: "#/components/schemas/EnvironmentTwinResponse"
          type: "array"
          title: "Twins"
        created_at:
          type: "string"
          format: "date-time"
          title: "Created At"
        expires_at:
          anyOf:
            - type: "string"
              format: "date-time"
            - type: "null"
          title: "Expires At"
      type: "object"
      required:
        - "id"
        - "slug"
        - "name"
        - "status"
        - "twins"
        - "created_at"
      title: "EnvironmentResponse"
    EnvironmentTemplateResponse:
      properties:
        id:
          type: "string"
          format: "uuid"
          title: "Id"
        name:
          type: "string"
          title: "Name"
        prompt:
          anyOf:
            - type: "string"
            - type: "null"
          title: "Prompt"
        twins:
          items:
            $ref: "#/components/schemas/EnvironmentTemplateTwinResponse"
          type: "array"
          title: "Twins"
        created_at:
          type: "string"
          format: "date-time"
          title: "Created At"
      type: "object"
      required:
        - "id"
        - "name"
        - "twins"
        - "created_at"
      title: "EnvironmentTemplateResponse"
    EnvironmentTemplateTwinResponse:
      properties:
        twin:
          type: "string"
          title: "Twin"
        scenario_template:
          anyOf:
            - type: "string"
            - type: "null"
          title: "Scenario Template"
        prompt:
          anyOf:
            - type: "string"
            - type: "null"
          title: "Prompt"
      type: "object"
      required:
        - "twin"
      title: "EnvironmentTemplateTwinResponse"
      description: "A slot a template asks for, named as a create request names it."
    EnvironmentTwinResponse:
      properties:
        id:
          type: "string"
          format: "uuid"
          title: "Id"
        twin_slug:
          type: "string"
          title: "Twin Slug"
        twin_version:
          anyOf:
            - type: "string"
            - type: "null"
          title: "Twin Version"
          description: "The release the current container was started from."
        desired_state:
          type: "string"
          title: "Desired State"
          description: "running or stopped"
        state:
          type: "string"
          title: "State"
          description: "What the twin is actually doing: pending, provisioning, starting, ready, stopping, stopped or failed."
        url:
          type: "string"
          title: "Url"
        failure:
          anyOf:
            - type: "string"
            - type: "null"
          title: "Failure"
          description: "Why the current run is not serving, if it is not."
        created_at:
          type: "string"
          format: "date-time"
          title: "Created At"
        ready_at:
          anyOf:
            - type: "string"
              format: "date-time"
            - type: "null"
          title: "Ready At"
      type: "object"
      required:
        - "id"
        - "twin_slug"
        - "desired_state"
        - "state"
        - "url"
        - "created_at"
      title: "EnvironmentTwinResponse"
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: "#/components/schemas/ValidationError"
          type: "array"
          title: "Detail"
      type: "object"
      title: "HTTPValidationError"
    MeResponse:
      properties:
        user:
          $ref: "#/components/schemas/UserResponse"
        active_organization_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
          title: "Active Organization Id"
          description: "Organization the access token in use is scoped to, or null while the caller has not joined one yet"
        memberships:
          items:
            $ref: "#/components/schemas/MembershipResponse"
          type: "array"
          title: "Memberships"
          description: "Every organization the caller belongs to, with their role"
      type: "object"
      required:
        - "user"
        - "active_organization_id"
        - "memberships"
      title: "MeResponse"
    MembershipResponse:
      properties:
        organization:
          $ref: "#/components/schemas/OrganizationResponse"
        role:
          $ref: "#/components/schemas/OrganizationRole"
          description: "The caller's role in this organization"
      type: "object"
      required:
        - "organization"
        - "role"
      title: "MembershipResponse"
    OrganizationResponse:
      properties:
        id:
          type: "string"
          format: "uuid"
          title: "Id"
        workos_organization_id:
          anyOf:
            - type: "string"
            - type: "null"
          title: "Workos Organization Id"
          description: "WorkOS id of this organization. Clients need it to ask AuthKit for a token that acts here."
        name:
          type: "string"
          title: "Name"
        created_at:
          type: "string"
          format: "date-time"
          title: "Created At"
      type: "object"
      required:
        - "id"
        - "workos_organization_id"
        - "name"
        - "created_at"
      title: "OrganizationResponse"
    OrganizationRole:
      type: "string"
      enum:
        - "admin"
        - "member"
      title: "OrganizationRole"
    Page_ApiKeyResponse_:
      properties:
        items:
          items:
            $ref: "#/components/schemas/ApiKeyResponse"
          type: "array"
          title: "Items"
        total:
          type: "integer"
          minimum: 0.0
          title: "Total"
        page:
          type: "integer"
          minimum: 1.0
          title: "Page"
        size:
          type: "integer"
          minimum: 1.0
          title: "Size"
        pages:
          type: "integer"
          minimum: 0.0
          title: "Pages"
      type: "object"
      required:
        - "items"
        - "total"
        - "page"
        - "size"
        - "pages"
      title: "Page[ApiKeyResponse]"
    Page_MembershipResponse_:
      properties:
        items:
          items:
            $ref: "#/components/schemas/MembershipResponse"
          type: "array"
          title: "Items"
        total:
          type: "integer"
          minimum: 0.0
          title: "Total"
        page:
          type: "integer"
          minimum: 1.0
          title: "Page"
        size:
          type: "integer"
          minimum: 1.0
          title: "Size"
        pages:
          type: "integer"
          minimum: 0.0
          title: "Pages"
      type: "object"
      required:
        - "items"
        - "total"
        - "page"
        - "size"
        - "pages"
      title: "Page[MembershipResponse]"
    Page_RequestLogSummaryResponse_:
      properties:
        items:
          items:
            $ref: "#/components/schemas/RequestLogSummaryResponse"
          type: "array"
          title: "Items"
        total:
          type: "integer"
          minimum: 0.0
          title: "Total"
        page:
          type: "integer"
          minimum: 1.0
          title: "Page"
        size:
          type: "integer"
          minimum: 1.0
          title: "Size"
        pages:
          type: "integer"
          minimum: 0.0
          title: "Pages"
      type: "object"
      required:
        - "items"
        - "total"
        - "page"
        - "size"
        - "pages"
      title: "Page[RequestLogSummaryResponse]"
    Page_TwinResponse_:
      properties:
        items:
          items:
            $ref: "#/components/schemas/TwinResponse"
          type: "array"
          title: "Items"
        total:
          type: "integer"
          minimum: 0.0
          title: "Total"
        page:
          type: "integer"
          minimum: 1.0
          title: "Page"
        size:
          type: "integer"
          minimum: 1.0
          title: "Size"
        pages:
          type: "integer"
          minimum: 0.0
          title: "Pages"
      type: "object"
      required:
        - "items"
        - "total"
        - "page"
        - "size"
        - "pages"
      title: "Page[TwinResponse]"
    RequestLogBody:
      properties:
        content_type:
          anyOf:
            - type: "string"
            - type: "null"
          title: "Content Type"
        size:
          type: "integer"
          title: "Size"
        truncated:
          type: "boolean"
          title: "Truncated"
        text:
          anyOf:
            - type: "string"
            - type: "null"
          title: "Text"
          description: "Decoded body, or null when the payload is not text."
      type: "object"
      required:
        - "content_type"
        - "size"
        - "truncated"
      title: "RequestLogBody"
      description: "A captured payload, as the bytes it was rather than as parsed JSON.\n\nA twin answers with whatever its provider answers with, so the log holds\ntext when it is decodable and says so when it is not. `truncated` reports\nthat the container capped the capture, not that the caller sent less."
    RequestLogResponse:
      properties:
        id:
          type: "string"
          format: "uuid"
          title: "Id"
        environment_id:
          type: "string"
          format: "uuid"
          title: "Environment Id"
        environment_twin_id:
          type: "string"
          format: "uuid"
          title: "Environment Twin Id"
        method:
          type: "string"
          title: "Method"
        path:
          type: "string"
          title: "Path"
        query_string:
          type: "string"
          title: "Query String"
        status_code:
          type: "integer"
          title: "Status Code"
        duration_ms:
          type: "integer"
          title: "Duration Ms"
        occurred_at:
          type: "string"
          format: "date-time"
          title: "Occurred At"
        request:
          anyOf:
            - $ref: "#/components/schemas/RequestLogBody"
            - type: "null"
        response:
          anyOf:
            - $ref: "#/components/schemas/RequestLogBody"
            - type: "null"
      type: "object"
      required:
        - "id"
        - "environment_id"
        - "environment_twin_id"
        - "method"
        - "path"
        - "query_string"
        - "status_code"
        - "duration_ms"
        - "occurred_at"
        - "request"
        - "response"
      title: "RequestLogResponse"
    RequestLogSummaryResponse:
      properties:
        id:
          type: "string"
          format: "uuid"
          title: "Id"
        environment_id:
          type: "string"
          format: "uuid"
          title: "Environment Id"
        environment_twin_id:
          type: "string"
          format: "uuid"
          title: "Environment Twin Id"
        method:
          type: "string"
          title: "Method"
        path:
          type: "string"
          title: "Path"
        query_string:
          type: "string"
          title: "Query String"
        status_code:
          type: "integer"
          title: "Status Code"
        duration_ms:
          type: "integer"
          title: "Duration Ms"
        occurred_at:
          type: "string"
          format: "date-time"
          title: "Occurred At"
      type: "object"
      required:
        - "id"
        - "environment_id"
        - "environment_twin_id"
        - "method"
        - "path"
        - "query_string"
        - "status_code"
        - "duration_ms"
        - "occurred_at"
      title: "RequestLogSummaryResponse"
    ScenarioResponse:
      properties:
        slug:
          type: "string"
          title: "Slug"
        name:
          type: "string"
          title: "Name"
        description:
          type: "string"
          title: "Description"
      type: "object"
      required:
        - "slug"
        - "name"
        - "description"
      title: "ScenarioResponse"
    TwinResponse:
      properties:
        slug:
          type: "string"
          title: "Slug"
        name:
          type: "string"
          title: "Name"
        description:
          type: "string"
          title: "Description"
        version:
          type: "string"
          title: "Version"
        scenarios:
          items:
            $ref: "#/components/schemas/ScenarioResponse"
          type: "array"
          title: "Scenarios"
      type: "object"
      required:
        - "slug"
        - "name"
        - "description"
        - "version"
        - "scenarios"
      title: "TwinResponse"
    UpdateEnvironmentRecordRequest:
      properties:
        fields:
          additionalProperties: true
          type: "object"
          title: "Fields"
          description: "The record's fields, as the provider's API returns them."
      additionalProperties: false
      type: "object"
      required:
        - "fields"
      title: "UpdateEnvironmentRecordRequest"
    UpdateOrganizationRequest:
      properties:
        name:
          type: "string"
          maxLength: 100
          minLength: 1
          title: "Name"
          description: "New display name of the organization"
      additionalProperties: false
      type: "object"
      required:
        - "name"
      title: "UpdateOrganizationRequest"
    UserResponse:
      properties:
        id:
          type: "string"
          format: "uuid"
          title: "Id"
        email:
          type: "string"
          format: "email"
          title: "Email"
        first_name:
          type: "string"
          title: "First Name"
        last_name:
          type: "string"
          title: "Last Name"
      type: "object"
      required:
        - "id"
        - "email"
        - "first_name"
        - "last_name"
      title: "UserResponse"
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
              - type: "string"
              - type: "integer"
          type: "array"
          title: "Location"
        msg:
          type: "string"
          title: "Message"
        type:
          type: "string"
          title: "Error Type"
        input:
          title: "Input"
        ctx:
          type: "object"
          title: "Context"
      type: "object"
      required:
        - "loc"
        - "msg"
        - "type"
      title: "ValidationError"
  securitySchemes:
    Organization API key:
      type: "apiKey"
      description: "An organization API key. Create one at https://console.twinbay.ai/api-keys"
      in: "header"
      name: "X-API-Key"
tags:
  - name: "healthchecks"
    description: "Healthcheck endpoints"
  - name: "users"
    description: "The current user. Sign-up and sign-in happen in WorkOS AuthKit, which issues the access tokens this API accepts."
  - name: "organizations"
    description: "Organizations the caller belongs to. Every authenticated request acts inside exactly one organization — the one its access token names — so these routes address it as `current`."
  - name: "api-keys"
    description: "Long-lived credentials for callers that cannot hold an AuthKit session — agents, SDKs, CI. A key is accepted wherever an access token is, and acts with the role its creator holds when the request arrives."
  - name: "environments"
    description: "Create and edit isolated provider environments. Each environment contains behavioural twins from the `twins` package."
  - name: "twins"
    description: "Browse the digital twins available for new environments."
