openapi: "3.1.0"
info:
  title: "Twinbay"
  description: "Backend API"
  version: "0.1.0"
servers:
  - url: "https://api.twinbay.ai"
    description: "Production"
paths:
  /users/me:
    get:
      tags:
        - "users"
      summary: "Read the authenticated user"
      description: "Returns the caller, the organization their token acts in, and every organization they belong to with their role in each. A caller who has not joined an organization yet gets a null active organization, which is how the client knows to show onboarding."
      operationId: "read_me"
      responses:
        "200":
          description: "The caller and their memberships"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MeResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The token names an organization with a role we do not model"
      x-speakeasy-name-override: "retrieve"
  /organizations:
    get:
      tags:
        - "organizations"
      summary: "List your organizations"
      description: "Every organization the caller is a member of, with their role in each, newest membership first. Independent of the organization the current token acts in. Paginated: walk the pages with `page` and `size`."
      operationId: "list_organizations"
      parameters:
        - name: "page"
          in: "query"
          required: false
          schema:
            type: "integer"
            minimum: 1
            description: "Page number"
            default: 1
            title: "Page"
          description: "Page number"
        - name: "size"
          in: "query"
          required: false
          schema:
            type: "integer"
            maximum: 100
            minimum: 1
            description: "Page size"
            default: 50
            title: "Size"
          description: "Page size"
      responses:
        "200":
          description: "One page of the caller's memberships"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Page_MembershipResponse_"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-pagination:
        type: "offsetLimit"
        inputs:
          - name: "page"
            in: "parameters"
            type: "page"
          - name: "size"
            in: "parameters"
            type: "limit"
        outputs:
          results: "$.items"
          numPages: "$.pages"
    post:
      tags:
        - "organizations"
      summary: "Create an organization"
      description: "Creates the organization in WorkOS with the caller as an admin, then mirrors it locally. The caller's current token is unchanged; refresh the AuthKit session into the new organization to act inside it."
      operationId: "create_organization"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateOrganizationRequest"
      responses:
        "201":
          description: "The new organization and the caller's role in it"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MembershipResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /organizations/default:
    post:
      tags:
        - "organizations"
      summary: "Create your first organization"
      description: "Idempotent: answers with the caller's oldest organization when they already belong to one, and otherwise creates one named after them, with the caller as an admin. This is what signing up calls, so that onboarding never has to ask for a name. Refresh the AuthKit session into the organization to act inside it."
      operationId: "ensure_default_organization"
      responses:
        "200":
          description: "The caller's organization and their role in it"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MembershipResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
      x-speakeasy-ignore: true
  /organizations/current:
    get:
      tags:
        - "organizations"
      summary: "Read the active organization"
      description: "The organization the access token acts in, plus the caller's role in it. Fails with 403 when the token names no organization."
      operationId: "read_current_organization"
      responses:
        "200":
          description: "The active organization and the caller's role in it"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MembershipResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
      x-speakeasy-name-override: "retrieve"
    patch:
      tags:
        - "organizations"
      summary: "Rename the active organization"
      description: "Requires the **admin** role or above in the active organization."
      operationId: "rename_current_organization"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateOrganizationRequest"
        required: true
      responses:
        "200":
          description: "The renamed organization and the caller's role in it"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MembershipResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The token names no organization, or the caller's role is below admin"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-name-override: "update"
  /organizations/current/api-keys:
    post:
      tags:
        - "api-keys"
      summary: "Create an API key"
      description: "Mints a key for the active organization. It acts with the caller's role, read from their membership on every request, so it can never outrank them. The response is the only time the token is readable."
      operationId: "create_api_key"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateApiKeyRequest"
      responses:
        "201":
          description: "The new key, including its token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreatedApiKeyResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization, or it is an API key"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
    get:
      tags:
        - "api-keys"
      summary: "List API keys"
      description: "Every key of the active organization that has not been revoked, newest first. A key that has expired is still listed, so that it can be read and cleaned up rather than vanishing unexplained; `expires_at` says which. Tokens are never included. Paginated: walk the pages with `page` and `size`."
      operationId: "list_api_keys"
      parameters:
        - name: "page"
          in: "query"
          required: false
          schema:
            type: "integer"
            minimum: 1
            description: "Page number"
            default: 1
            title: "Page"
          description: "Page number"
        - name: "size"
          in: "query"
          required: false
          schema:
            type: "integer"
            maximum: 100
            minimum: 1
            description: "Page size"
            default: 50
            title: "Size"
          description: "Page size"
      responses:
        "200":
          description: "One page of the organization's keys"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Page_ApiKeyResponse_"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization, or it is an API key"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-pagination:
        type: "offsetLimit"
        inputs:
          - name: "page"
            in: "parameters"
            type: "page"
          - name: "size"
            in: "parameters"
            type: "limit"
        outputs:
          results: "$.items"
          numPages: "$.pages"
  /organizations/current/api-keys/{api_key_id}:
    delete:
      tags:
        - "api-keys"
      summary: "Revoke an API key"
      description: "The key stops working immediately. Its row stays, so a key seen in a log can still be named, and its token can never be minted again."
      operationId: "revoke_api_key"
      parameters:
        - name: "api_key_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Api Key Id"
      responses:
        "204":
          description: "Successful Response"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization, or it is an API key"
        "404":
          description: "No live key of the active organization has this id, whether because it belongs to another organization or because it is already revoked"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /twins/catalog:
    get:
      tags:
        - "catalog"
      summary: "List available twins"
      description: "Returns registered twins, newest release first unless sorted by name."
      operationId: "list_twins"
      parameters:
        - name: "sort"
          in: "query"
          required: false
          schema:
            anyOf:
              - const: "name"
                type: "string"
              - type: "null"
            description: "Sort by display name, A-Z (case-insensitive)."
            title: "Sort"
          description: "Sort by display name, A-Z (case-insensitive)."
        - name: "page"
          in: "query"
          required: false
          schema:
            type: "integer"
            minimum: 1
            default: 1
            title: "Page"
        - name: "size"
          in: "query"
          required: false
          schema:
            type: "integer"
            maximum: 100
            minimum: 1
            default: 50
            title: "Size"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Page_TwinResponse_"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-group: "catalog"
      x-speakeasy-name-override: "list"
      x-speakeasy-pagination:
        type: "offsetLimit"
        inputs:
          - name: "page"
            in: "parameters"
            type: "page"
          - name: "size"
            in: "parameters"
            type: "limit"
        outputs:
          results: "$.items"
          numPages: "$.pages"
  /twins/catalog/{twin_slug}:
    get:
      tags:
        - "catalog"
      summary: "Retrieve a twin"
      operationId: "get_twin"
      parameters:
        - name: "twin_slug"
          in: "path"
          required: true
          schema:
            type: "string"
            title: "Twin Slug"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TwinResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "404":
          description: "Twin not found"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-group: "catalog"
      x-speakeasy-name-override: "retrieve"
  /environments:
    post:
      tags:
        - "environments"
      summary: "Create an environment"
      description: "Records the environment and queues each twin for provisioning. The twins are not serving yet: read each one with `wait_for=ready`, then collect its API key."
      operationId: "create_environment"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateEnvironmentRequest"
      responses:
        "202":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvironmentResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-name-override: "create"
    get:
      tags:
        - "environments"
      summary: "List environments"
      operationId: "list_environments"
      parameters:
        - name: "page"
          in: "query"
          required: false
          schema:
            type: "integer"
            minimum: 1
            description: "Page number"
            default: 1
            title: "Page"
          description: "Page number"
        - name: "size"
          in: "query"
          required: false
          schema:
            type: "integer"
            maximum: 100
            minimum: 1
            description: "Page size"
            default: 50
            title: "Size"
          description: "Page size"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Page_EnvironmentResponse_"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-name-override: "list"
      x-speakeasy-pagination:
        type: "offsetLimit"
        inputs:
          - name: "page"
            in: "parameters"
            type: "page"
          - name: "size"
            in: "parameters"
            type: "limit"
        outputs:
          results: "$.items"
          numPages: "$.pages"
  /environments/{environment_id}:
    get:
      tags:
        - "environments"
      summary: "Retrieve an environment"
      operationId: "get_environment"
      parameters:
        - name: "environment_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Environment Id"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvironmentResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-name-override: "retrieve"
  /twins/{twin_id}:
    get:
      tags:
        - "twins"
      summary: "Retrieve a twin"
      description: "With `wait_for`, the answer is held until the twin reaches that state, a run of it settles, or the wait runs out — so a caller waiting for a twin to serve sends one request rather than polling."
      operationId: "get_environment_twin"
      parameters:
        - name: "twin_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Twin Id"
        - name: "wait_for"
          in: "query"
          required: false
          schema:
            anyOf:
              - enum:
                  - "ready"
                  - "stopped"
                type: "string"
              - type: "null"
            title: "Wait For"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvironmentTwinResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-group: "twins"
      x-speakeasy-name-override: "retrieve"
  /twins/{twin_id}/start:
    post:
      tags:
        - "twins"
      summary: "Start a twin"
      description: "Queues a fresh container. Its state and credentials are new."
      operationId: "start_environment_twin"
      parameters:
        - name: "twin_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Twin Id"
      responses:
        "202":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvironmentTwinResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-group: "twins"
      x-speakeasy-name-override: "start"
  /twins/{twin_id}/stop:
    post:
      tags:
        - "twins"
      summary: "Stop a twin"
      description: "Queues the container for destruction. Everything it holds is lost."
      operationId: "stop_environment_twin"
      parameters:
        - name: "twin_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Twin Id"
      responses:
        "202":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvironmentTwinResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-group: "twins"
      x-speakeasy-name-override: "stop"
  /twins/{twin_id}/credential:
    post:
      tags:
        - "twins"
      summary: "Collect the twin's API key"
      description: "Returns the key the twin's current container minted."
      operationId: "collect_environment_twin_credential"
      parameters:
        - name: "twin_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Twin Id"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvironmentCredentialResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-group: "twins"
      x-speakeasy-name-override: "collect_credential"
  /twins/{twin_id}/records/{resource}:
    get:
      tags:
        - "twins"
      summary: "List twin state"
      operationId: "list_environment_records"
      parameters:
        - name: "twin_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Twin Id"
        - name: "resource"
          in: "path"
          required: true
          schema:
            type: "string"
            title: "Resource"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/EnvironmentRecordResponse"
                title: "Response List Environment Records"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-group: "twin_records"
      x-speakeasy-name-override: "list"
  /twins/{twin_id}/records/{resource}/{external_id}:
    put:
      tags:
        - "twins"
      summary: "Replace a twin record"
      operationId: "update_environment_record"
      parameters:
        - name: "twin_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Twin Id"
        - name: "resource"
          in: "path"
          required: true
          schema:
            type: "string"
            title: "Resource"
        - name: "external_id"
          in: "path"
          required: true
          schema:
            type: "string"
            title: "External Id"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateEnvironmentRecordRequest"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvironmentRecordResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-group: "twin_records"
      x-speakeasy-name-override: "update"
  /twins/{twin_id}/advance:
    post:
      tags:
        - "twins"
      summary: "Advance a deterministic twin lifecycle"
      operationId: "advance_environment"
      parameters:
        - name: "twin_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Twin Id"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdvanceEnvironmentRequest"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties:
                  type: "integer"
                title: "Response Advance Environment"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-group: "twins"
      x-speakeasy-name-override: "advance"
  /scenarios:
    post:
      tags:
        - "scenarios"
      summary: "Create a scenario"
      description: "Save providers and optional reusable seeds without starting an environment."
      operationId: "create_scenario"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateScenarioRequest"
      responses:
        "201":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScenarioResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-name-override: "create"
    get:
      tags:
        - "scenarios"
      summary: "List scenarios"
      description: "Start an environment from a scenario by sending its id as `scenario` to `POST /environments`."
      operationId: "list_scenarios"
      parameters:
        - name: "include_public"
          in: "query"
          required: false
          schema:
            type: "boolean"
            default: true
            title: "Include Public"
        - name: "page"
          in: "query"
          required: false
          schema:
            type: "integer"
            minimum: 1
            description: "Page number"
            default: 1
            title: "Page"
          description: "Page number"
        - name: "size"
          in: "query"
          required: false
          schema:
            type: "integer"
            maximum: 100
            minimum: 1
            description: "Page size"
            default: 50
            title: "Size"
          description: "Page size"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Page_ScenarioResponse_"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-name-override: "list"
      x-speakeasy-pagination:
        type: "offsetLimit"
        inputs:
          - name: "page"
            in: "parameters"
            type: "page"
          - name: "size"
            in: "parameters"
            type: "limit"
        outputs:
          results: "$.items"
          numPages: "$.pages"
  /scenarios/{scenario_id}:
    get:
      tags:
        - "scenarios"
      summary: "Retrieve a scenario"
      description: "A community scenario another organization published is readable here with `owned` false; editing, deleting and starting it stay with its organization."
      operationId: "get_scenario"
      parameters:
        - name: "scenario_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Scenario Id"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScenarioResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "404":
          description: "Scenario not found"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-name-override: "retrieve"
    patch:
      tags:
        - "scenarios"
      summary: "Update a scenario"
      description: "Change the name or replace provider selections. Existing environments are untouched."
      operationId: "update_scenario"
      parameters:
        - name: "scenario_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Scenario Id"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateScenarioRequest"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScenarioResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-name-override: "update"
    delete:
      tags:
        - "scenarios"
      summary: "Delete a scenario"
      description: "Referenced seeds and environments already started from it are untouched."
      operationId: "delete_scenario"
      parameters:
        - name: "scenario_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Scenario Id"
      responses:
        "204":
          description: "Successful Response"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-name-override: "delete"
  /seeds:
    post:
      tags:
        - "seeds"
      summary: "Generate a seed"
      description: "Describes the starting state you want and answers immediately; a worker expands it into rows. Read the seed until it is `ready`, then pass its id as a twin's `seed` when you create an environment."
      operationId: "create_seed"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSeedRequest"
      responses:
        "202":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SeedResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "404":
          description: "Unknown twin"
        "422":
          description: "This twin cannot be seeded"
        "503":
          description: "Seed generation is not configured or its manifest is temporarily unavailable"
      x-speakeasy-name-override: "create"
    get:
      tags:
        - "seeds"
      summary: "List seeds"
      operationId: "list_seeds"
      parameters:
        - name: "twin"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "string"
              - type: "null"
            description: "Only seeds for this twin's slug."
            title: "Twin"
          description: "Only seeds for this twin's slug."
        - name: "page"
          in: "query"
          required: false
          schema:
            type: "integer"
            minimum: 1
            description: "Page number"
            default: 1
            title: "Page"
          description: "Page number"
        - name: "size"
          in: "query"
          required: false
          schema:
            type: "integer"
            maximum: 100
            minimum: 1
            description: "Page size"
            default: 50
            title: "Size"
          description: "Page size"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Page_SeedResponse_"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-name-override: "list"
      x-speakeasy-pagination:
        type: "offsetLimit"
        inputs:
          - name: "page"
            in: "parameters"
            type: "page"
          - name: "size"
            in: "parameters"
            type: "limit"
        outputs:
          results: "$.items"
          numPages: "$.pages"
  /seeds/suggestions:
    get:
      tags:
        - "seeds"
      summary: "List suggested starting states"
      description: "Described states the product ships for each twin that can be seeded. Send one back as a seed's `prompt`, edited or as it stands."
      operationId: "list_seed_suggestions"
      parameters:
        - name: "twin"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "string"
              - type: "null"
            description: "Only suggestions for this twin's slug."
            title: "Twin"
          description: "Only suggestions for this twin's slug."
        - name: "page"
          in: "query"
          required: false
          schema:
            type: "integer"
            minimum: 1
            description: "Page number"
            default: 1
            title: "Page"
          description: "Page number"
        - name: "size"
          in: "query"
          required: false
          schema:
            type: "integer"
            maximum: 100
            minimum: 1
            description: "Page size"
            default: 50
            title: "Size"
          description: "Page size"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Page_SeedSuggestionResponse_"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "503":
          description: "A twin manifest is temporarily unavailable"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-name-override: "list_suggestions"
      x-speakeasy-pagination:
        type: "offsetLimit"
        inputs:
          - name: "page"
            in: "parameters"
            type: "page"
          - name: "size"
            in: "parameters"
            type: "limit"
        outputs:
          results: "$.items"
          numPages: "$.pages"
  /seeds/{seed_id}:
    get:
      tags:
        - "seeds"
      summary: "Retrieve a seed"
      operationId: "get_seed"
      parameters:
        - name: "seed_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Seed Id"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SeedResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "404":
          description: "Seed not found"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-name-override: "retrieve"
    delete:
      tags:
        - "seeds"
      summary: "Delete a seed"
      description: "Refused while an environment or a scenario still uses it."
      operationId: "delete_seed"
      parameters:
        - name: "seed_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Seed Id"
      responses:
        "204":
          description: "Successful Response"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "404":
          description: "Seed not found"
        "409":
          description: "This seed is still in use"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-name-override: "delete"
  /tests:
    post:
      tags:
        - "tests"
      summary: "Create a test"
      description: "Records the test and its immutable version 1. Nothing is compiled or run."
      operationId: "create_test"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTestRequest"
      responses:
        "201":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TestResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-name-override: "create"
    get:
      tags:
        - "tests"
      summary: "List tests"
      operationId: "list_tests"
      parameters:
        - name: "page"
          in: "query"
          required: false
          schema:
            type: "integer"
            minimum: 1
            description: "Page number"
            default: 1
            title: "Page"
          description: "Page number"
        - name: "size"
          in: "query"
          required: false
          schema:
            type: "integer"
            maximum: 100
            minimum: 1
            description: "Page size"
            default: 50
            title: "Size"
          description: "Page size"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Page_TestResponse_"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-name-override: "list"
      x-speakeasy-pagination:
        type: "offsetLimit"
        inputs:
          - name: "page"
            in: "parameters"
            type: "page"
          - name: "size"
            in: "parameters"
            type: "limit"
        outputs:
          results: "$.items"
          numPages: "$.pages"
  /tests/{test_id}:
    get:
      tags:
        - "tests"
      summary: "Retrieve a test"
      operationId: "get_test"
      parameters:
        - name: "test_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Test Id"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TestResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "404":
          description: "Test not found"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-name-override: "retrieve"
    post:
      tags:
        - "tests"
      summary: "Update a test"
      description: "Appends an immutable definition. Existing runs remain pinned to their version."
      operationId: "update_test"
      parameters:
        - name: "test_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Test Id"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateTestRequest"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TestResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "404":
          description: "Test not found"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-name-override: "update"
  /tests/{test_id}/versions:
    get:
      tags:
        - "tests"
      summary: "List a test's versions"
      operationId: "list_test_versions"
      parameters:
        - name: "test_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Test Id"
        - name: "page"
          in: "query"
          required: false
          schema:
            type: "integer"
            minimum: 1
            description: "Page number"
            default: 1
            title: "Page"
          description: "Page number"
        - name: "size"
          in: "query"
          required: false
          schema:
            type: "integer"
            maximum: 100
            minimum: 1
            description: "Page size"
            default: 50
            title: "Size"
          description: "Page size"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Page_TestResponse_"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "404":
          description: "Test not found"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-group: "tests"
      x-speakeasy-name-override: "list_versions"
      x-speakeasy-pagination:
        type: "offsetLimit"
        inputs:
          - name: "page"
            in: "parameters"
            type: "page"
          - name: "size"
            in: "parameters"
            type: "limit"
        outputs:
          results: "$.items"
          numPages: "$.pages"
  /tests/{test_id}/versions/{version}:
    get:
      tags:
        - "tests"
      summary: "Retrieve a test version"
      operationId: "get_test_version"
      parameters:
        - name: "test_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Test Id"
        - name: "version"
          in: "path"
          required: true
          schema:
            type: "integer"
            title: "Version"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TestResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "404":
          description: "Test version not found"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-group: "tests"
      x-speakeasy-name-override: "retrieve_version"
  /evaluators:
    post:
      tags:
        - "tests"
      summary: "Create an evaluator"
      description: "Queues compilation of a test definition into immutable request matchers. The latest test version is pinned when no version is supplied."
      operationId: "create_evaluator"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateEvaluatorRequest"
      responses:
        "202":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvaluatorResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "404":
          description: "Test, test version, or twin not found"
        "503":
          description: "Test compilation is not configured"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-group: "evaluators"
      x-speakeasy-name-override: "create"
    get:
      tags:
        - "tests"
      summary: "List evaluators"
      description: "Lists every compilation for a test, optionally filtered by version."
      operationId: "list_evaluators"
      parameters:
        - name: "test"
          in: "query"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Test"
        - name: "test_version"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "integer"
                exclusiveMinimum: 0
              - type: "null"
            title: "Test Version"
        - name: "page"
          in: "query"
          required: false
          schema:
            type: "integer"
            minimum: 1
            description: "Page number"
            default: 1
            title: "Page"
          description: "Page number"
        - name: "size"
          in: "query"
          required: false
          schema:
            type: "integer"
            maximum: 100
            minimum: 1
            description: "Page size"
            default: 50
            title: "Size"
          description: "Page size"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Page_EvaluatorResponse_"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "404":
          description: "Test not found"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-group: "evaluators"
      x-speakeasy-name-override: "list"
      x-speakeasy-pagination:
        type: "offsetLimit"
        inputs:
          - name: "page"
            in: "parameters"
            type: "page"
          - name: "size"
            in: "parameters"
            type: "limit"
        outputs:
          results: "$.items"
          numPages: "$.pages"
  /evaluators/{evaluator_id}:
    get:
      tags:
        - "tests"
      summary: "Retrieve an evaluator"
      description: "Poll until `status` is `ready`, when rules and provenance are frozen, or `error`, when `last_error` explains the failure."
      operationId: "get_evaluator"
      parameters:
        - name: "evaluator_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Evaluator Id"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvaluatorResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "404":
          description: "Evaluator not found"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-group: "evaluators"
      x-speakeasy-name-override: "retrieve"
  /test-runs:
    post:
      tags:
        - "tests"
      summary: "Start a test run"
      description: "Opens an attempt: traffic the environment serves from now on is attributed to it. Does not launch an agent or reset twins. An environment runs one attempt at a time."
      operationId: "create_test_run"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTestRunRequest"
      responses:
        "201":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TestRunResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "404":
          description: "Environment or evaluator not found"
        "409":
          description: "The evaluator is not ready or compatible, or an attempt is already running"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-group: "test_runs"
      x-speakeasy-name-override: "create"
    get:
      tags:
        - "tests"
      summary: "List test runs"
      operationId: "list_test_runs"
      parameters:
        - name: "environment_id"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "string"
                format: "uuid"
              - type: "null"
            title: "Environment Id"
        - name: "test"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "string"
                format: "uuid"
              - type: "null"
            title: "Test"
        - name: "test_version"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "integer"
                exclusiveMinimum: 0
              - type: "null"
            title: "Test Version"
        - name: "page"
          in: "query"
          required: false
          schema:
            type: "integer"
            minimum: 1
            description: "Page number"
            default: 1
            title: "Page"
          description: "Page number"
        - name: "size"
          in: "query"
          required: false
          schema:
            type: "integer"
            maximum: 100
            minimum: 1
            description: "Page size"
            default: 50
            title: "Size"
          description: "Page size"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Page_TestRunResponse_"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-group: "test_runs"
      x-speakeasy-name-override: "list"
      x-speakeasy-pagination:
        type: "offsetLimit"
        inputs:
          - name: "page"
            in: "parameters"
            type: "page"
          - name: "size"
            in: "parameters"
            type: "limit"
        outputs:
          results: "$.items"
          numPages: "$.pages"
  /test-runs/{test_run_id}:
    get:
      tags:
        - "tests"
      summary: "Retrieve a test run"
      operationId: "get_test_run"
      parameters:
        - name: "test_run_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Test Run Id"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TestRunResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "404":
          description: "Test run not found"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-group: "test_runs"
      x-speakeasy-name-override: "retrieve"
  /evaluations:
    post:
      tags:
        - "tests"
      summary: "Evaluate a test run"
      description: "Queues a capture and grading with the run's evaluator. Naming another evaluator regrades the latest ready capture for the same phase."
      operationId: "create_evaluation"
      parameters:
        - name: "Idempotency-Key"
          in: "header"
          required: false
          schema:
            anyOf:
              - type: "string"
                minLength: 1
                maxLength: 255
              - type: "null"
            description: "Replaying the same key and payload returns the same evaluation; reusing it with a different payload answers 409."
            title: "Idempotency-Key"
          description: "Replaying the same key and payload returns the same evaluation; reusing it with a different payload answers 409."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateEvaluationRequest"
      responses:
        "202":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvaluationResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "404":
          description: "Test run not found"
        "409":
          description: "The attempt is finished or the key was reused"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-group: "evaluations"
      x-speakeasy-name-override: "create"
  /test-runs/{test_run_id}/evaluations:
    get:
      tags:
        - "tests"
      summary: "List a test run's evaluations"
      operationId: "list_evaluations"
      parameters:
        - name: "test_run_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Test Run Id"
        - name: "page"
          in: "query"
          required: false
          schema:
            type: "integer"
            minimum: 1
            description: "Page number"
            default: 1
            title: "Page"
          description: "Page number"
        - name: "size"
          in: "query"
          required: false
          schema:
            type: "integer"
            maximum: 100
            minimum: 1
            description: "Page size"
            default: 50
            title: "Size"
          description: "Page size"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Page_EvaluationResponse_"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "404":
          description: "Test run not found"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-group: "evaluations"
      x-speakeasy-name-override: "list"
      x-speakeasy-pagination:
        type: "offsetLimit"
        inputs:
          - name: "page"
            in: "parameters"
            type: "page"
          - name: "size"
            in: "parameters"
            type: "limit"
        outputs:
          results: "$.items"
          numPages: "$.pages"
  /evaluations/{evaluation_id}:
    get:
      tags:
        - "tests"
      summary: "Retrieve an evaluation"
      description: "Evaluation is asynchronous: poll until `status` is `completed` or `error`; `verdict` is `pending` until then. Only a `passed` verdict is a pass: `failed`, `inconclusive` and `error` are not. `coverage_status` says whether the capture holds every call the attempt's window served, and each result cites the evidence it was judged on."
      operationId: "get_evaluation"
      parameters:
        - name: "evaluation_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Evaluation Id"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvaluationResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "404":
          description: "Evaluation not found"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-group: "evaluations"
      x-speakeasy-name-override: "retrieve"
  /evaluation-inputs/{input_id}/download:
    get:
      tags:
        - "tests"
      summary: "Sign a link to a preserved capture"
      operationId: "download_evaluation_input"
      parameters:
        - name: "input_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Input Id"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DownloadResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "404":
          description: "Evaluation input not found"
        "409":
          description: "This capture is not ready"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-group: "evaluation_inputs"
      x-speakeasy-name-override: "download"
  /environments/{environment_id}/logs:
    get:
      tags:
        - "environments"
      summary: "List recent environment request logs"
      operationId: "list_request_logs"
      parameters:
        - name: "environment_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Environment Id"
        - name: "environment_twin_id"
          in: "query"
          required: false
          schema:
            anyOf:
              - type: "string"
                format: "uuid"
              - type: "null"
            title: "Environment Twin Id"
        - name: "page"
          in: "query"
          required: false
          schema:
            type: "integer"
            minimum: 1
            description: "Page number"
            default: 1
            title: "Page"
          description: "Page number"
        - name: "size"
          in: "query"
          required: false
          schema:
            type: "integer"
            maximum: 100
            minimum: 1
            description: "Page size"
            default: 50
            title: "Size"
          description: "Page size"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Page_RequestLogSummaryResponse_"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-group: "environment_logs"
      x-speakeasy-name-override: "list"
      x-speakeasy-pagination:
        type: "offsetLimit"
        inputs:
          - name: "page"
            in: "parameters"
            type: "page"
          - name: "size"
            in: "parameters"
            type: "limit"
        outputs:
          results: "$.items"
          numPages: "$.pages"
  /environments/{environment_id}/logs/{request_id}:
    get:
      tags:
        - "environments"
      summary: "Retrieve an environment request log"
      operationId: "get_request_log"
      parameters:
        - name: "environment_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Environment Id"
        - name: "request_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Request Id"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RequestLogResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "404":
          description: "Request log not found"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-group: "environment_logs"
      x-speakeasy-name-override: "retrieve"
  /environments/{environment_id}/exports:
    post:
      tags:
        - "environments"
      summary: "Export an environment's traffic"
      description: "Records the slice to export and answers immediately; a worker writes the file. An empty body exports the whole environment for all of time."
      operationId: "create_export"
      parameters:
        - name: "environment_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Environment Id"
      requestBody:
        content:
          application/json:
            schema:
              anyOf:
                - $ref: "#/components/schemas/CreateExportRequest"
                - type: "null"
              title: "Payload"
      responses:
        "202":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExportResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "404":
          description: "Environment not found"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-group: "environment_exports"
      x-speakeasy-name-override: "create"
    get:
      tags:
        - "environments"
      summary: "List an environment's exports"
      operationId: "list_exports"
      parameters:
        - name: "environment_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Environment Id"
        - name: "page"
          in: "query"
          required: false
          schema:
            type: "integer"
            minimum: 1
            description: "Page number"
            default: 1
            title: "Page"
          description: "Page number"
        - name: "size"
          in: "query"
          required: false
          schema:
            type: "integer"
            maximum: 100
            minimum: 1
            description: "Page size"
            default: 50
            title: "Size"
          description: "Page size"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Page_ExportResponse_"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-group: "environment_exports"
      x-speakeasy-name-override: "list"
      x-speakeasy-pagination:
        type: "offsetLimit"
        inputs:
          - name: "page"
            in: "parameters"
            type: "page"
          - name: "size"
            in: "parameters"
            type: "limit"
        outputs:
          results: "$.items"
          numPages: "$.pages"
  /environments/{environment_id}/exports/{export_id}:
    get:
      tags:
        - "environments"
      summary: "Retrieve an export"
      operationId: "get_export"
      parameters:
        - name: "environment_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Environment Id"
        - name: "export_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Export Id"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExportResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "404":
          description: "Export not found"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-group: "environment_exports"
      x-speakeasy-name-override: "retrieve"
  /environments/{environment_id}/exports/{export_id}/download:
    get:
      tags:
        - "environments"
      summary: "Sign a link to an exported file"
      description: "A short-lived download URL for a ready export. JSON rather than a redirect, so the expiry is visible and no client has to follow one."
      operationId: "download_export"
      parameters:
        - name: "environment_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Environment Id"
        - name: "export_id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
            title: "Export Id"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExportDownloadResponse"
        "401":
          description: "The credential is missing, malformed, expired, or not trusted"
        "403":
          description: "The credential does not act inside an organization"
        "404":
          description: "Export not found"
        "409":
          description: "This export is not ready"
        "422":
          description: "Validation Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      x-speakeasy-group: "environment_exports"
      x-speakeasy-name-override: "download"
  /:
    get:
      tags:
        - "healthchecks"
      summary: "Read Root"
      operationId: "read_root"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                additionalProperties:
                  type: "integer"
                type: "object"
                title: "Response Read Root"
      x-speakeasy-ignore: true
      security: []
  /health:
    get:
      tags:
        - "healthchecks"
      summary: "Read Health"
      operationId: "read_health"
      responses:
        "200":
          description: "Successful Response"
          content:
            application/json:
              schema:
                additionalProperties:
                  type: "integer"
                type: "object"
                title: "Response Read Health"
      x-speakeasy-ignore: true
      security: []
components:
  schemas:
    AdvanceEnvironmentRequest:
      properties:
        at:
          anyOf:
            - type: "string"
              format: "date-time"
            - type: "null"
          title: "At"
          description: "Instant to advance the environment to. Defaults to now."
      additionalProperties: false
      type: "object"
      title: "AdvanceEnvironmentRequest"
    ApiKeyResponse:
      properties:
        id:
          type: "string"
          format: "uuid"
          title: "Id"
        name:
          type: "string"
          title: "Name"
        created_at:
          type: "string"
          format: "date-time"
          title: "Created At"
        expires_at:
          anyOf:
            - type: "string"
              format: "date-time"
            - type: "null"
          title: "Expires At"
          description: "When the key stops working, or null when it never does"
        created_by:
          $ref: "#/components/schemas/UserResponse"
          description: "The member whose role the key acts with. Demoting or removing them changes what the key can do."
      type: "object"
      required:
        - "id"
        - "name"
        - "created_at"
        - "expires_at"
        - "created_by"
      title: "ApiKeyResponse"
    ApiSchemaProvenance:
      properties:
        twin:
          type: "string"
          title: "Twin"
        twin_version:
          type: "string"
          title: "Twin Version"
        image_digest:
          type: "string"
          title: "Image Digest"
        description:
          type: "string"
          title: "Description"
        resources:
          items:
            type: "string"
          type: "array"
          title: "Resources"
        sdk_targets:
          items:
            type: "string"
          type: "array"
          title: "Sdk Targets"
      type: "object"
      required:
        - "twin"
        - "twin_version"
        - "image_digest"
        - "description"
      title: "ApiSchemaProvenance"
    CompilerProvenance:
      properties:
        provider:
          type: "string"
          title: "Provider"
        model:
          type: "string"
          title: "Model"
      type: "object"
      required:
        - "provider"
        - "model"
      title: "CompilerProvenance"
    CreateApiKeyRequest:
      properties:
        name:
          type: "string"
          maxLength: 100
          minLength: 1
          title: "Name"
          description: "What this key is for, in the operator's words"
        expires_at:
          anyOf:
            - type: "string"
              format: "date-time"
            - type: "null"
          title: "Expires At"
          description: "When the key stops working on its own. Omitted or null for a key that only stops when it is revoked."
      additionalProperties: false
      type: "object"
      required:
        - "name"
      title: "CreateApiKeyRequest"
    CreateEnvironmentRequest:
      properties:
        name:
          type: "string"
          maxLength: 100
          minLength: 1
          title: "Name"
          description: "Display name of the new environment. Generated when omitted."
        twins:
          anyOf:
            - items:
                anyOf:
                  - type: "string"
                    maxLength: 100
                    minLength: 1
                  - $ref: "#/components/schemas/CreateEnvironmentTwinRequest"
              type: "array"
              maxItems: 25
              minItems: 1
            - type: "null"
          title: "Twins"
          description: "Provider twins to provision, as slugs or objects with an optional seed. Omitted when a scenario supplies the twins."
        scenario:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
          title: "Scenario"
          description: "A saved environment definition to start from, instead of listing twins. Its twins are used as they were saved."
        save_as_scenario:
          type: "boolean"
          title: "Save As Scenario"
          description: "Also save this environment's definition, so another environment can be started from it later."
          default: false
      additionalProperties: false
      type: "object"
      title: "CreateEnvironmentRequest"
    CreateEnvironmentTwinRequest:
      properties:
        twin:
          type: "string"
          maxLength: 100
          minLength: 1
          title: "Twin"
          description: "Slug of the twin to serve"
        seed:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
          title: "Seed"
          description: "A generated starting state to load into this twin, by `seeds.id`. Omitted starts the twin with its own state and nothing else."
        description:
          anyOf:
            - type: "string"
              maxLength: 2000
              minLength: 1
            - type: "null"
          title: "Description"
          description: "Generate the first dataset in this twin before it becomes ready."
      additionalProperties: false
      type: "object"
      required:
        - "twin"
      title: "CreateEnvironmentTwinRequest"
    CreateEvaluationRequest:
      properties:
        test_run_id:
          type: "string"
          format: "uuid"
          title: "Test Run Id"
          description: "Test run whose attributed traffic should be graded."
          examples:
            - "b04bd7fb-3f6c-4de8-9c5a-918909419dcc"
        phase:
          type: "string"
          enum:
            - "checkpoint"
            - "final"
          title: "Phase"
          description: "Checkpoint grades without closing the run; final closes and grades it."
          examples:
            - "final"
        evaluator_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
          title: "Evaluator Id"
          description: "Different ready evaluator used to regrade the latest ready capture for this run and phase."
          examples:
            - "1177bd8d-986f-44a2-aec2-1518dc46d6b0"
      additionalProperties: false
      type: "object"
      required:
        - "test_run_id"
        - "phase"
      title: "CreateEvaluationRequest"
    CreateEvaluatorRequest:
      properties:
        test_id:
          type: "string"
          format: "uuid"
          title: "Test Id"
          description: "Test to compile into matchers."
          examples:
            - "7ef34f0b-0ae6-4e26-ae92-f49d239d4d7d"
        test_version:
          anyOf:
            - type: "integer"
              exclusiveMinimum: 0.0
            - type: "null"
          title: "Test Version"
          description: "Version to pin. When omitted, evaluator creation pins the latest test version."
          examples:
            - 3
        twins:
          items:
            type: "string"
            maxLength: 100
            minLength: 1
          type: "array"
          maxItems: 10
          minItems: 1
          title: "Twins"
          description: "Catalog slugs of the twins whose APIs the outcomes are about."
          examples:
            - - "stripe"
      additionalProperties: false
      type: "object"
      required:
        - "test_id"
        - "twins"
      title: "CreateEvaluatorRequest"
    CreateExportRequest:
      properties:
        environment_twin_ids:
          anyOf:
            - items:
                type: "string"
                format: "uuid"
              type: "array"
              minItems: 1
            - type: "null"
          title: "Environment Twin Ids"
          description: "Twin slots inside this environment to export, by `environment_twins.id`. Omitted exports every twin; an empty list would export none, which is never what a caller means."
        occurred_from:
          anyOf:
            - type: "string"
              format: "date-time"
            - type: "null"
          title: "Occurred From"
          description: "Export calls served at or after this instant."
        occurred_until:
          anyOf:
            - type: "string"
              format: "date-time"
            - type: "null"
          title: "Occurred Until"
          description: "Export calls served at or before this instant. An export never reads past the moment it was asked for, whatever this says."
      additionalProperties: false
      type: "object"
      title: "CreateExportRequest"
    CreateOrganizationRequest:
      properties:
        name:
          type: "string"
          maxLength: 100
          minLength: 1
          title: "Name"
          description: "Display name of the new organization"
      additionalProperties: false
      type: "object"
      required:
        - "name"
      title: "CreateOrganizationRequest"
    CreateScenarioRequest:
      properties:
        name:
          type: "string"
          maxLength: 100
          minLength: 1
          title: "Name"
        twins:
          items:
            anyOf:
              - type: "string"
                maxLength: 100
                minLength: 1
              - $ref: "#/components/schemas/ScenarioTwinRequest"
          type: "array"
          maxItems: 25
          minItems: 1
          title: "Twins"
      additionalProperties: false
      type: "object"
      required:
        - "name"
        - "twins"
      title: "CreateScenarioRequest"
    CreateSeedRequest:
      properties:
        name:
          type: "string"
          maxLength: 100
          minLength: 1
          title: "Name"
          description: "Display name of the seed"
          examples:
            - "aging-backlog"
        twin:
          type: "string"
          maxLength: 100
          minLength: 1
          title: "Twin"
          description: "Slug of the twin this seed is for"
          examples:
            - "zendesk"
        prompt:
          type: "string"
          maxLength: 2000
          minLength: 1
          title: "Prompt"
          description: "The starting state you want, in your own words. \"50 open tickets, half of them aging past 90 days.\""
          examples:
            - "50 open tickets, half of them aging past 90 days."
      additionalProperties: false
      type: "object"
      required:
        - "name"
        - "twin"
        - "prompt"
      title: "CreateSeedRequest"
    CreateTestRequest:
      properties:
        task_description:
          type: "string"
          maxLength: 2000
          minLength: 1
          title: "Task Description"
        outcomes:
          items:
            $ref: "#/components/schemas/OutcomeRequest"
          type: "array"
          maxItems: 50
          minItems: 1
          title: "Outcomes"
        name:
          type: "string"
          maxLength: 100
          minLength: 1
          title: "Name"
      additionalProperties: false
      type: "object"
      required:
        - "task_description"
        - "outcomes"
        - "name"
      title: "CreateTestRequest"
    CreateTestRunRequest:
      properties:
        environment_id:
          type: "string"
          format: "uuid"
          title: "Environment Id"
        evaluator_id:
          type: "string"
          format: "uuid"
          title: "Evaluator Id"
      additionalProperties: false
      type: "object"
      required:
        - "environment_id"
        - "evaluator_id"
      title: "CreateTestRunRequest"
    CreatedApiKeyResponse:
      properties:
        id:
          type: "string"
          format: "uuid"
          title: "Id"
        name:
          type: "string"
          title: "Name"
        created_at:
          type: "string"
          format: "date-time"
          title: "Created At"
        expires_at:
          anyOf:
            - type: "string"
              format: "date-time"
            - type: "null"
          title: "Expires At"
          description: "When the key stops working, or null when it never does"
        created_by:
          $ref: "#/components/schemas/UserResponse"
          description: "The member whose role the key acts with. Demoting or removing them changes what the key can do."
        token:
          type: "string"
          title: "Token"
          description: "The credential itself, to send in the `X-API-Key` header. Only the digest is stored, so this is the only time it is readable."
      type: "object"
      required:
        - "id"
        - "name"
        - "created_at"
        - "expires_at"
        - "created_by"
        - "token"
      title: "CreatedApiKeyResponse"
    DownloadResponse:
      properties:
        url:
          type: "string"
          title: "Url"
        expires_at:
          type: "string"
          format: "date-time"
          title: "Expires At"
      type: "object"
      required:
        - "url"
        - "expires_at"
      title: "DownloadResponse"
    EnvironmentCredentialResponse:
      properties:
        api_key:
          type: "string"
          title: "Api Key"
      type: "object"
      required:
        - "api_key"
      title: "EnvironmentCredentialResponse"
      description: "The provider key a container minted, handed over exactly once."
    EnvironmentRecordResponse:
      properties:
        external_id:
          type: "string"
          title: "External Id"
        resource:
          type: "string"
          title: "Resource"
        body:
          additionalProperties: true
          type: "object"
          title: "Body"
      type: "object"
      required:
        - "external_id"
        - "resource"
        - "body"
      title: "EnvironmentRecordResponse"
    EnvironmentResponse:
      properties:
        id:
          type: "string"
          format: "uuid"
          title: "Id"
        slug:
          type: "string"
          title: "Slug"
        name:
          type: "string"
          title: "Name"
        status:
          type: "string"
          title: "Status"
        twins:
          items:
            $ref: "#/components/schemas/EnvironmentTwinResponse"
          type: "array"
          title: "Twins"
        created_at:
          type: "string"
          format: "date-time"
          title: "Created At"
        expires_at:
          anyOf:
            - type: "string"
              format: "date-time"
            - type: "null"
          title: "Expires At"
      type: "object"
      required:
        - "id"
        - "slug"
        - "name"
        - "status"
        - "twins"
        - "created_at"
      title: "EnvironmentResponse"
    EnvironmentTwinResponse:
      properties:
        id:
          type: "string"
          format: "uuid"
          title: "Id"
        environment_id:
          type: "string"
          format: "uuid"
          title: "Environment Id"
        twin_slug:
          type: "string"
          title: "Twin Slug"
        twin_version:
          anyOf:
            - type: "string"
            - type: "null"
          title: "Twin Version"
          description: "The release the current container was started from."
        seed:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
          title: "Seed"
          description: "The starting state this twin was created with, if any."
        desired_state:
          type: "string"
          title: "Desired State"
          description: "running or stopped"
        state:
          type: "string"
          title: "State"
          description: "What the twin is actually doing: pending, provisioning, starting, ready, stopping, stopped or failed."
        url:
          type: "string"
          title: "Url"
        failure:
          anyOf:
            - type: "string"
            - type: "null"
          title: "Failure"
          description: "Why the current run is not serving, if it is not."
        created_at:
          type: "string"
          format: "date-time"
          title: "Created At"
        ready_at:
          anyOf:
            - type: "string"
              format: "date-time"
            - type: "null"
          title: "Ready At"
      type: "object"
      required:
        - "id"
        - "environment_id"
        - "twin_slug"
        - "desired_state"
        - "state"
        - "url"
        - "created_at"
      title: "EnvironmentTwinResponse"
    EvaluationResponse:
      properties:
        id:
          type: "string"
          format: "uuid"
          title: "Id"
        input_id:
          type: "string"
          format: "uuid"
          title: "Input Id"
        evaluator_id:
          type: "string"
          format: "uuid"
          title: "Evaluator Id"
        regraded_from_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
          title: "Regraded From Id"
        status:
          type: "string"
          enum:
            - "pending"
            - "running"
            - "completed"
            - "error"
          title: "Status"
        phase:
          type: "string"
          enum:
            - "checkpoint"
            - "final"
          title: "Phase"
        coverage_status:
          type: "string"
          enum:
            - "complete"
            - "incomplete"
            - "unknown"
          title: "Coverage Status"
        verdict:
          type: "string"
          enum:
            - "pending"
            - "passed"
            - "failed"
            - "inconclusive"
            - "error"
          title: "Verdict"
        results:
          items:
            $ref: "#/components/schemas/ResultResponse"
          type: "array"
          title: "Results"
        error_message:
          anyOf:
            - type: "string"
            - type: "null"
          title: "Error Message"
        created_at:
          type: "string"
          format: "date-time"
          title: "Created At"
      type: "object"
      required:
        - "id"
        - "input_id"
        - "evaluator_id"
        - "status"
        - "phase"
        - "coverage_status"
        - "verdict"
        - "results"
        - "created_at"
      title: "EvaluationResponse"
    EvaluatorProvenance:
      properties:
        compiler:
          $ref: "#/components/schemas/CompilerProvenance"
        api_schemas:
          items:
            $ref: "#/components/schemas/ApiSchemaProvenance"
          type: "array"
          title: "Api Schemas"
        executor:
          $ref: "#/components/schemas/ExecutorProvenance"
      type: "object"
      required:
        - "compiler"
        - "api_schemas"
        - "executor"
      title: "EvaluatorProvenance"
    EvaluatorResponse:
      properties:
        id:
          type: "string"
          format: "uuid"
          title: "Id"
        object:
          type: "string"
          const: "evaluator"
          title: "Object"
          default: "evaluator"
        test_id:
          type: "string"
          format: "uuid"
          title: "Test Id"
        test_version:
          type: "integer"
          title: "Test Version"
        status:
          type: "string"
          enum:
            - "pending"
            - "running"
            - "ready"
            - "error"
          title: "Status"
        twins:
          items:
            type: "string"
          type: "array"
          title: "Twins"
        rules:
          anyOf:
            - items:
                $ref: "#/components/schemas/Rule"
              type: "array"
            - type: "null"
          title: "Rules"
          description: "The frozen matchers, once compilation is ready."
        provenance:
          anyOf:
            - $ref: "#/components/schemas/EvaluatorProvenance"
            - type: "null"
        last_error:
          anyOf:
            - $ref: "#/components/schemas/LastError"
            - type: "null"
        created_at:
          type: "string"
          format: "date-time"
          title: "Created At"
        updated_at:
          type: "string"
          format: "date-time"
          title: "Updated At"
        completed_at:
          anyOf:
            - type: "string"
              format: "date-time"
            - type: "null"
          title: "Completed At"
      type: "object"
      required:
        - "id"
        - "test_id"
        - "test_version"
        - "status"
        - "twins"
        - "created_at"
        - "updated_at"
      title: "EvaluatorResponse"
    EvidenceResponse:
      properties:
        id:
          type: "string"
          format: "uuid"
          title: "Id"
        source_kind:
          type: "string"
          enum:
            - "request"
            - "scope"
          title: "Source Kind"
        source_locator:
          type: "string"
          title: "Source Locator"
        summary:
          type: "string"
          title: "Summary"
      type: "object"
      required:
        - "id"
        - "source_kind"
        - "source_locator"
        - "summary"
      title: "EvidenceResponse"
    ExecutorProvenance:
      properties:
        version:
          type: "string"
          title: "Version"
      type: "object"
      required:
        - "version"
      title: "ExecutorProvenance"
    ExportDownloadResponse:
      properties:
        url:
          type: "string"
          title: "Url"
        expires_at:
          type: "string"
          format: "date-time"
          title: "Expires At"
      type: "object"
      required:
        - "url"
        - "expires_at"
      title: "ExportDownloadResponse"
      description: "A short-lived link to the exported file, which has no other door."
    ExportResponse:
      properties:
        id:
          type: "string"
          format: "uuid"
          title: "Id"
        environment_id:
          type: "string"
          format: "uuid"
          title: "Environment Id"
        status:
          type: "string"
          title: "Status"
          description: "pending, running, ready or failed"
        slice:
          $ref: "#/components/schemas/ExportSlice"
          description: "The traffic this export was asked for."
        failure:
          anyOf:
            - type: "string"
            - type: "null"
          title: "Failure"
          description: "Why generation failed, if it did."
        created_at:
          type: "string"
          format: "date-time"
          title: "Created At"
        completed_at:
          anyOf:
            - type: "string"
              format: "date-time"
            - type: "null"
          title: "Completed At"
      type: "object"
      required:
        - "id"
        - "environment_id"
        - "status"
        - "slice"
        - "created_at"
      title: "ExportResponse"
    ExportSlice:
      properties:
        environment_twin_ids:
          anyOf:
            - items:
                type: "string"
                format: "uuid"
              type: "array"
              minItems: 1
            - type: "null"
          title: "Environment Twin Ids"
          description: "Twin slots inside this environment to export, by `environment_twins.id`. Omitted exports every twin; an empty list would export none, which is never what a caller means."
        occurred_from:
          anyOf:
            - type: "string"
              format: "date-time"
            - type: "null"
          title: "Occurred From"
          description: "Export calls served at or after this instant."
        occurred_until:
          anyOf:
            - type: "string"
              format: "date-time"
            - type: "null"
          title: "Occurred Until"
          description: "Export calls served at or before this instant. An export never reads past the moment it was asked for, whatever this says."
      type: "object"
      title: "ExportSlice"
      description: "The traffic an export was asked for, where null means no limit.\n\nThe same shape on the way in and on the way out, and it is echoed into the\nexported file: a filtered export and a whole-environment one are otherwise\nindistinguishable, which is the difference between a dataset and a wrong\ndataset."
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: "#/components/schemas/ValidationError"
          type: "array"
          title: "Detail"
      type: "object"
      title: "HTTPValidationError"
    LastError:
      properties:
        code:
          type: "string"
          title: "Code"
        message:
          type: "string"
          title: "Message"
      type: "object"
      required:
        - "code"
        - "message"
      title: "LastError"
    Matcher:
      properties:
        twin:
          type: "string"
          maxLength: 100
          minLength: 1
          title: "Twin"
          description: "Catalog slug of the twin that served the call."
        method:
          type: "string"
[...]
